<!-- Start team -->
<section class="section-padding our-team arrow-shape-1">
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h5 class="text-custom-blue wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Destacados Vista</h5>
                <h3 class="text-custom-white fw-700">Empleados destacados del Mes</h3>
            </div>
            <div class="section-description">
                <p class="text-custom-white">En Vista Inmobiliaria nos gusta destacar a nuestros colaboradores por su desempeño, su cultura laboral positiva, su actitud colaborativa durante cada mes.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="team-block p-relative mb-md-40 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="inner-box bx-wrapper">
                        <div class="image animate-img">
                            <img src="assets/images/homepage-1/agent-1.jpg" alt="img" class="full-width">
                            <div class="overlay-box">
                                <div class="overlay-inner p-relative full-height">
                                    <ul class="team-social-box custom">
                                        <li class="youtube"><a href="https://www.youtube.com/channel/UCw5zz615V49jdpSRJLVnqRw/videos" target="_blank" class="fab fa-youtube fs-16" tabindex="0"></a><span class="social-name fs-12 text-custom-white">youtube</span></li>
                                        <!-- <li class="linkedin"><a href="#" class="fab fa-linkedin fs-16" tabindex="0"></a><span class="social-name fs-12 text-custom-white">linkedin</span></li> -->
                                        <li class="facebook"><a href="https://www.facebook.com/vistainmobiliariasas" target="_blank" class="fab fa-facebook-f fs-16" tabindex="0"></a><span class="social-name fs-12 text-custom-white">facebook</span></li>
                                        <li class="instagram"><a href="https://www.instagram.com/olgavistainmobiliaria/?hl=es-la" target="_blank" class="fab fa-instagram fs-16" tabindex="0"></a><span class="social-name fs-12 text-dark-grey">instagram</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="lower-content p-relative text-center">
                            <div class="icon-box fs-18 text-custom-white">
                                <span class="fas fa-cogs"></span>
                            </div>
                            <h4><a href="#" class="fw-600 fs-20" tabindex="0">Olga Puentes</a></h4>
                            <p class="designation text-custom-white mb-xl-20">Agente de Arrendamientos</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team-block p-relative mb-md-40 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.6s">
                    <div class="inner-box bx-wrapper">
                        <div class="image animate-img">
                            <img src="assets/images/homepage-1/agent-2.jpg" alt="img" class="full-width">
                            <div class="overlay-box">
                                <div class="overlay-inner p-relative full-height">
                                    <ul class="team-social-box custom">
                                        <li class="youtube"><a href="https://www.youtube.com/channel/UCw5zz615V49jdpSRJLVnqRw/videos" target="_blank" class="fab fa-youtube fs-16" tabindex="0"></a><span class="social-name fs-12 text-custom-white">youtube</span></li>
                                        <!-- <li class="linkedin"><a href="#" class="fab fa-linkedin fs-16" tabindex="0"></a><span class="social-name fs-12 text-custom-white">linkedin</span></li> -->
                                        <li class="facebook"><a href="https://www.facebook.com/vistainmobiliariasas" target="_blank" class="fab fa-facebook-f fs-16" tabindex="0"></a><span class="social-name fs-12 text-custom-white">facebook</span></li>
                                        <li class="Instagram"><a href="https://www.instagram.com/inmobiliaria.vista/?hl=es-la" target="_blank" class="fab fa-instagram fs-16" tabindex="0"></a><span class="social-name fs-12 text-dark-grey">instagram</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="lower-content p-relative text-center">
                            <div class="icon-box fs-18 text-custom-white">
                                <span class="fas fa-cogs"></span>
                            </div>
                            <h4><a href="#" class="fw-600 fs-20" tabindex="0">Sebastian Henao</a></h4>
                            <p class="designation text-custom-white mb-xl-20">Agente Audiovisual</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team-block p-relative mb-sm-40 wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
                    <div class="inner-box bx-wrapper">
                        <div class="image animate-img">
                            <img src="assets/images/homepage-1/agent-3.jpg" alt="img" class="full-width">
                            <div class="overlay-box">
                                <div class="overlay-inner p-relative full-height">
                                    <ul class="team-social-box custom">
                                        <li class="youtube"><a href="https://www.youtube.com/channel/UCw5zz615V49jdpSRJLVnqRw/videos" target="_blank" class="fab fa-youtube fs-16" tabindex="0"></a><span class="social-name fs-12 text-custom-white">youtube</span></li>
                                        <!-- <li class="linkedin"><a href="#" class="fab fa-linkedin fs-16" tabindex="0"></a><span class="social-name fs-12 text-custom-white">linkedin</span></li> -->
                                        <li class="facebook"><a href="https://www.facebook.com/vistainmobiliariasas" target="_blank" class="fab fa-facebook-f fs-16" tabindex="0"></a><span class="social-name fs-12 text-custom-white">facebook</span></li>
                                        <li class="Instagram"><a href="https://www.instagram.com/inmobiliaria.vista/?hl=es-la" target="_blank" class="fab fa-instagram fs-16" tabindex="0"></a><span class="social-name fs-12 text-dark-grey">Instagram</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="lower-content p-relative text-center">
                            <div class="icon-box fs-18 text-custom-white">
                                <span class="fas fa-cogs"></span>
                            </div>
                            <h4><a href="#" class="fw-600 fs-20" tabindex="0">Florencia Puentes</a></h4>
                            <p class="designation text-custom-white mb-xl-20">Agente de Ventas</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team-block p-relative wow fadeInUp" data-wow-duration="2.5s" data-wow-delay="1.3s">
                    <div class="inner-box bx-wrapper">
                        <div class="image animate-img">
                            <img src="assets/images/homepage-1/agent-4.jpg" alt="img" class="full-width">
                            <div class="overlay-box">
                                <div class="overlay-inner p-relative full-height">
                                    <ul class="team-social-box custom">
                                        <li class="youtube"><a href="https://www.youtube.com/channel/UCw5zz615V49jdpSRJLVnqRw/videos" target="_blank" class="fab fa-youtube fs-16" tabindex="0"></a><span class="social-name fs-12 text-custom-white">youtube</span></li>
                                        <!-- <li class="linkedin"><a href="#" class="fab fa-linkedin fs-16" tabindex="0"></a><span class="social-name fs-12 text-custom-white">linkedin</span></li> -->
                                        <li class="facebook"><a href="https://www.facebook.com/vistainmobiliariasas" target="_blank" class="fab fa-facebook-f fs-16" tabindex="0"></a><span class="social-name fs-12 text-custom-white">facebook</span></li>
                                        <li class="instagram"><a href="https://www.instagram.com/nataliavistainmobiliaria/?hl=es-la" target="_blank" class="fab fa-instagram fs-16" tabindex="0"></a><span class="social-name fs-12 text-dark-grey">instagram</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="lower-content p-relative text-center">
                            <div class="icon-box fs-18 text-custom-white">
                                <span class="fas fa-cogs"></span>
                            </div>
                            <h4><a href="#" class="fw-600 fs-20" tabindex="0">Natalia Lozano</a></h4>
                            <p class="designation text-custom-white mb-xl-20">Agente de Ventas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End team -->