<div class="topbar bg-custom-black h-9">
  <div class="container-fluid custom-container">
    <div class="row">
      <div class="col-md-8">
        <div class="left-side justify-center items-center">
          <ul>
            <!-- Arrendamientos, Ventas, Administrativo  -->
            <div class="text-white ">
              <ul>
                <li class="flex items-center">
                  <span class="mr-2 ">Arrendamientos:</span>
                  <a href="tel:+5768912030">(+57) 300 341 9743</a>
                </li>
                <li class="flex items-center">
                  <span class="mr-2">Ventas:</span>
                  <a href="tel:+573127338964">(+57) 312 733 8964</a>
                </li>
                <li class="flex items-cente">
                  <span class="mr-2">Administrativo:</span>
                  <a href="tel:+573023834987">(+57) 302 383 4987</a>
                </li>
              </ul>
            </div>

            <div class="text-white flex items-center justify-center h-full">
              <ul>
                <!-- Correo -->
                <li class="flex items-center mb-4">
                  <a href="mailto:gerencia@vistainmobiliariasas.com" class="text-custom-white flex items-center">
                    <i class="fas fa-envelope text-custom-blue"></i>
                    gerencia&#64;vistainmobiliariasas.com
                  </a>
                </li>
                <!-- Manizales Caldas -->
                <li class="items-center">
                  <a href="https://goo.gl/maps/gwrzyECxZ4f8mjvD6" class="text-custom-white flex items-center">
                    <i class="fas fa-map-marker-alt text-red-500"></i>
                    Manizales&nbsp;Caldas
                  </a>
                </li>
              </ul>
            </div>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <div class="right-side">
          <ul class="custom">
            <!-- Icono facebook -->
            <li>
              <a href="https://www.facebook.com/vistainmobiliariasas/" target="_blank" class="text-custom-white">
                <i class="fab fa-facebook-f text-blue-500"></i>
              </a>
            </li>
            <!-- Icono instagram -->
            <li>
              <a href="https://www.instagram.com/inmobiliaria.vista/?utm_medium=copy_link" target="_blank"
                class="text-custom-white">
                <i class="fab fa-instagram text-pink-500"></i>
              </a>
            </li>
            <!-- Icono youtube -->
            <li>
              <a href="https://www.youtube.com/channel/UCw5zz615V49jdpSRJLVnqRw" target="_blank"
                class="text-custom-white">
                <i class="fab fa-youtube text-red-500"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>