<!-- Start Footer -->
<footer class="bg-custom-black section-padding footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-box mb-md-80">
                    <div class="footer-heading">
                        <h4 class="text-custom-white no-margin">Enlaces útiles</h4>
                    </div>
                    <ul class="custom links">
                        <li>
                            <a href="index.html" class="text-custom-white">Inicio</a>
                        </li>
                        <li>
                            <a href="https://vistainmobiliaria.inmo.co/main-contenido-cat-2.htm" target="_Black" class="text-custom-white">Quiénes Somos</a>
                        </li>
                        <li>
                            <a href="https://vistainmobiliaria.inmo.co/blog" target="_Black" class="text-custom-white">Blog</a>
                        </li>
                        <li>
                            <a href="https://vistainmobiliaria.inmo.co/" target="_Black" class="text-custom-white">Buscar Inmueble</a>
                        </li>
                        <li>
                            <a href="https://vistainmobiliaria.inmo.co/main-contactenos.htm" target="_Black" class="text-custom-white">Contáctenos</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-box mb-md-80">
                    <div class="footer-heading">
                        <h4 class="text-custom-white no-margin">Feed de Instagram</h4>
                    </div>
                    <ul class="custom insta-feed">
                        <li class="insta-item animate-img">
                            <a href="https://www.instagram.com/inmobiliaria.vista/?hl=es-la" target="_blank">
                                <img src="assets/images/homepage-1/insta-1-80x80.jpg" class="img-fluid full-width" alt="insta">
                            </a>
                        </li>
                        <li class="insta-item animate-img">
                            <a href="https://www.instagram.com/inmobiliaria.vista/?hl=es-la" target="_blank">
                                <img src="assets/images/homepage-1/insta-2-80x80.jpg" class="img-fluid full-width" alt="insta">
                            </a>
                        </li>
                        <li class="insta-item animate-img">
                            <a href="https://www.instagram.com/inmobiliaria.vista/?hl=es-la" target="_blank">
                                <img src="assets/images/homepage-1/insta-3-80x80.jpg" class="img-fluid full-width" alt="insta">
                            </a>
                        </li>
                        <li class="insta-item animate-img">
                            <a href="https://www.instagram.com/inmobiliaria.vista/?hl=es-la" target="_blank">
                                <img src="assets/images/homepage-1/insta-4-80x80.jpg" class="img-fluid full-width" alt="insta">
                            </a>
                        </li>
                        <li class="insta-item animate-img">
                            <a href="https://www.instagram.com/inmobiliaria.vista/?hl=es-la" target="_blank">
                                <img src="assets/images/homepage-1/insta-5-80x80.jpg" class="img-fluid full-width" alt="insta">
                            </a>
                        </li>
                        <li class="insta-item animate-img">
                            <a href="https://www.instagram.com/inmobiliaria.vista/?hl=es-la" target="_blank">
                                <img src="assets/images/homepage-1/insta-6-80x80.jpg" class="img-fluid full-width" alt="insta">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-box mb-xs-80">
                    <div class="footer-heading">
                        <h4 class="text-custom-white no-margin">Enlaces Rápidos</h4>
                    </div>
                    <ul class="custom links">
                        <li>
                            <a href="https://onedrive.live.com/?authkey=%21AOkx2n9Bqs31Cf4&cid=F0945017CE217DE2&id=F0945017CE217DE2%2115424&parId=root&o=OneUp" target="_blank" class="text-custom-white">Portafolio</a>
                        </li>
                        <li>
                            <a href= "https://vistainmobiliaria.inmo.co/s/alquiler" target="_blank" class="text-custom-white">Arrendamientos</a>
                        </li>
                        <li>
                            <a href= "https://vistainmobiliaria.inmo.co/s/venta" target="_blank" class="text-custom-white">Ventas</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/saravia_y_paloma/?hl=es-la" target="_blank" class="text-custom-white">Diseño de Interiores</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/ep1arquitectos/?hl=es-la" target="_blank" class="text-custom-white">Reparaciones Locativas</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="footer-box">
                    <div class="footer-heading">
                        <h4 class="text-custom-white no-margin">Quiero que me contacten</h4>
                    </div>
                    <div class="newsletter">
                        <form action="https://formspree.io/f/xzbygqjq" method="POST">
                            <div class="form-group">
                                <input type="number" name="phone" class="form-control form-control-custom" placeholder="Número Telefónico" required>
                            </div>
                            <button class="btn-first btn-submit btn-height" type="submit">Enviar</button>
                        </form>
                    </div>
                    <div class="social-media">
                        <ul class="custom social-media">
                          <li><a href="https://www.facebook.com/vistainmobiliariasas/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                          <li><a href="https://www.instagram.com/inmobiliaria.vista/?utm_medium=copy_link" target="_blank"><i class="fab fa-instagram"></i></a></li>
                          <li><a href="https://www.youtube.com/channel/UCw5zz615V49jdpSRJLVnqRw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="payment-logo mb-md-20">
                    <span class="text-custom-white fs-14 mr-3">Aceptamos pagos por</span>
                    <div class="payemt-icon">
                        <a href="https://www.e-collect.com/customers/plus/InmobiliariaVistasSASPagosPlus.htm" target="_blank"></a>
                        <img src="assets/images/card01.png" alt="#">                           
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <p class="text-custom-white no-margin">©2021 | All Right Reserved. <a href="index.html" class="text-custom-white">Designed By Vista Inmobiliaria</a></p>
            </div>
        </div>
    </div>
</div>
<!-- End Footer -->
<div id="back-top" class="back-top">
    <ul>
        <li>
            <div>
                <a href="https://www.e-collect.com/customers/plus/InmobiliariaVistasSASPagosPlus.htm" class="whatsapp mr-pse" target="_blank" style="background-color: transparent;">
                    <i class="fab fa-paypal" style="content: url('./assets/images/pse-forma.png');"></i>
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="https://wa.me/573003419743?text=Hola%20Vista!" class="whatsapp" target="_blank">
                    <i class="fab fa-whatsapp whatsapp-icon"></i>
                </a>
            </div>
        </li>
    </ul>
</div>
<!-- login register -->
<div class="modal fade" id="login-register">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-body">
            <div class="login-register">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#register">Register</a>
                    </li>
                </ul>
                <div class="tab-content padding-20">
                    <div class="tab-pane active" id="login">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" name="#" class="form-control form-control-custom" placeholder="User Name" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="password" name="#" class="form-control form-control-custom" placeholder="Password" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="custom-checkbox">
                                            <input type="checkbox" name="#">  <span class="checkmark"></span> Remember me
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <a href="#" class="text-light-white fs-14">Lost Your Password</a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn-first btn-submit full-width btn-height">Login</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="social-links text-center mb-xl-20">
                            <p class="fs-12 mb-xl-20">Conectate con nuestras redes sociales</p>
                            <ul class="custom">
                              <li><a href="https://www.facebook.com/vistainmobiliariasas/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                        <div class="decleration">
                            By creating an account you are accepting our <a href="#" class="text-custom-blue">Terms & Conditions</a>
                        </div>
                    </div>
                    <div class="tab-pane" id="register">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" name="#" class="form-control form-control-custom" placeholder="User Name" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="email" name="#" class="form-control form-control-custom" placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="password" name="#" class="form-control form-control-custom" placeholder="Password" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="password" name="#" class="form-control form-control-custom" placeholder="Retype Password" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <select class="form-control form-control-custom custom-select">
                                            <option>Owner/Buyer</option>
                                            <option>Agent</option>
                                            <option>Agency</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn-first btn-submit full-width btn-height">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>