<div class="grid grid-cols-1">
    <div class="bg-slate-500">
        <div class="grid grid-cols-1 xl:grid-cols-4 gap-2 px-4 py-4 ">
            <div class="bg-slate-500">
                columna 1
            </div>
            <div class="bg-slate-500">
                columna 2
            </div>
            <div class="bg-slate-500">
                columna 3
            </div>
            <div class="bg-slate-500">
                columna 4
            </div>
        </div>
    </div>
    <div class="bg-slate-500">
        <div class="flex justify-around">
            <div>
                Aceptamos pagos por
            </div>
            <div>
                Todos los derechos reservados
            </div>
        </div>
    </div>
</div>