<div class="grid grid-cols-1">
    <div class="bg-slate-600  text-white p-6">
        <div class="grid grid-cols-1 xl:grid-cols-4 gap-2 px-4 py-4 ">
            <div class="bg-slate-600">
              <div class="mb-6">
                <h3 class="text-white font-bold text-xl">Enlaces útiles</h3>
                <hr class="border-yellow-vista border-2 my-4 w-3/12">
                <div class="grid gap-2 mt-4">
                  <a href="#" class="flex items-center space-x-2">
                      <span class="block w-4 h-0.5 bg-yellow-500"></span>
                      <span>Inicio</span>
                  </a>
                  <a href="#" class="flex items-center space-x-2">
                      <span class="block w-4 h-0.5 bg-yellow-500"></span>
                      <span>Quiénes Somos</span>
                  </a>
                  <a href="#" class="flex items-center space-x-2">
                      <span class="block w-4 h-0.5 bg-yellow-500"></span>
                      <span>Blog</span>
                  </a>
                  <a href="#" class="flex items-center space-x-2">
                      <span class="block w-4 h-0.5 bg-yellow-500"></span>
                      <span>Buscar Inmueble</span>
                  </a>
                  <a href="#" class="flex items-center space-x-2">
                      <span class="block w-4 h-0.5 bg-yellow-500"></span>
                      <span>Contáctenos</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="bg-slate-600">
              <h3 class="text-white font-bold text-xl">Feed de Instagram</h3>
              <hr class="border-yellow-vista border-2 my-4 w-3/12">


                <div class="grid grid-cols-3 gap-1">
                    <!-- Reemplaza estas URL e imágenes de ejemplo con tus propios enlaces e imágenes -->
                    <a href="https://www.instagram.com/tu_usuario/" target="_blank">
                        <img src="assets/images/footer/1.jpg" alt="Instagram Image 1" class="w-full h-auto">
                    </a>
                    <a href="https://www.instagram.com/tu_usuario/" target="_blank">
                        <img src="assets/images/footer/2.jpg" alt="Instagram Image 2" class="w-full h-auto">
                    </a>
                    <a href="https://www.instagram.com/tu_usuario/" target="_blank">
                        <img src="assets/images/footer/3.jpg" alt="Instagram Image 3" class="w-full h-auto">
                    </a>
                    <a href="https://www.instagram.com/tu_usuario/" target="_blank">
                        <img src="assets/images/footer/4.jpg" alt="Instagram Image 4" class="w-full h-auto">
                    </a>
                    <a href="https://www.instagram.com/tu_usuario/" target="_blank">
                        <img src="assets/images/footer/5.jpg" alt="Instagram Image 5" class="w-full h-auto">
                    </a>
                    <a href="https://www.instagram.com/tu_usuario/" target="_blank">
                        <img src="assets/images/footer/6.jpg" alt="Instagram Image 6" class="w-full h-auto">
                    </a>
                </div>

            </div>
            <div class="bg-slate-600">
              <h3 class="text-white font-bold text-xl">Enlaces Rápidos</h3>
              <hr class="border-yellow-vista border-2 my-4 w-3/12">
              <div class="grid gap-2 mt-4">
                <a href="#" class="flex items-center space-x-2">
                    <span class="block w-4 h-0.5 bg-yellow-500"></span>
                    <span>Portafolio</span>
                </a>
                <a href="#" class="flex items-center space-x-2">
                    <span class="block w-4 h-0.5 bg-yellow-500"></span>
                    <span>Arrendamientos</span>
                </a>
                <a href="#" class="flex items-center space-x-2">
                    <span class="block w-4 h-0.5 bg-yellow-500"></span>
                    <span>Ventas</span>
                </a>
                <a href="#" class="flex items-center space-x-2">
                    <span class="block w-4 h-0.5 bg-yellow-500"></span>
                    <span>Diseño de interiores</span>
                </a>
                <a href="#" class="flex items-center space-x-2">
                    <span class="block w-4 h-0.5 bg-yellow-500"></span>
                    <span>reparaciones locativas</span>
                </a>
              </div>
            </div>
            <div class="bg-slate-600">
                <h3 class="text-white font-bold text-xl">Quiero que me contacten</h3>
                <hr class="border-yellow-vista border-2 my-4 w-3/12">
                <form action="https://formspree.io/f/xayzgwnv" method="POST">
                    <div class="mb-4">
                        <!-- <input type="telephone" name="phone" class="w-full p-2 bg-slate-500 text-white border-2 border-white placeholder-white focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:border-transparent" placeholder="Número Telefónico"> -->
                        <input type="telephone" name="phone" class="w-full p-2 bg-slate-600   text-white-300 border-2 border-white-900 placeholder-white-500 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:border-transparent" placeholder="Número Telefónico">
                    </div>
                    <button type="submit" class="w-1/2 bg-yellow-500 text-gray-800 font-bold py-2 border border-yellow-500 hover:bg-transparent hover:text-yellow-500 transition duration-300">ENVIAR</button>
                </form>
                <div class="flex space-x-2 mt-6">
                    <a href="#" class="p-2 bg-gray-900 border border-yellow-500">
                    <img src="path/to/facebook-icon.png" alt="Facebook" class="w-6 h-6">
                    </a>
                    <a href="#" class="p-2 bg-gray-900 border border-yellow-500">
                    <img src="path/to/instagram-icon.png" alt="Instagram" class="w-6 h-6">
                    </a>
                    <a href="#" class="p-2 bg-gray-900 border border-yellow-500">
                    <img src="path/to/youtube-icon.png" alt="YouTube" class="w-6 h-6">
                    </a>
                </div>
            </div>
        </div>
      </div>
    <div class="bg-black max-w-7xl p-4">
        <div class="flex justify-around text-white">
            <div>
                Aceptamos pagos por
            </div>
            <div>
                ©2021 | All Right Reserved. Designed By Vista Inmobiliaria
            </div>
        </div>
    </div>
</div>
