<!-- Start About us -->
<section class="section-padding about-us">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="about-right-side p-relative mb-md-80">
                    <img src="assets/images/vista/SantiagoFabio_SantiagoFabio.png" class="img-fluid full-width" alt="about">
                    <div class="about-meta">
                        <div class="meta-text wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                            <h4 class="text-custom-white no-margin fs-20">Fabio Puentes Llano</h4>
                            <h4 class="text-custom-white no-margin fs-20">Santiago Botero Rincón</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 align-self-center">
                <div class="about-left-side p-relative">
                    <div class="section-header">
                        <div class="section-heading">
                            <h5 class="text-custom-blue wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Acerca de Nosotros</h5>
                            <h3 class="text-theme fw-700">Nuestra Historia</h3>
                        </div>
                    </div>
                    <div class="about-desc">
                        <p class="text-light-white mb-xl-20">
                            Soy Fabio Puentes Llano, junto con mi socio Santiago Botero Rincón, decidimos emprender en este viaje tan maravilloso llamado Vista Inmobiliaria, todo nació en el momento de ver la necesidad de 
                            volver el sector inmobiliario en algo más amable, más integrado con la tecnología, al darnos cuenta de que el sector se estaba estancando en lo mismo, buscamos entender el cómo desde la tecnología
                            le podríamos dar un nuevo aire a esta línea de negocio que tanto nos gusta. Por eso con nuestra fotografía profesional, con nuestro recorrido virtual mediante videos profesionales, con nuestro vuelo
                            en dron hemos dado calidad y una nueva manera de disfrutar los inmuebles tanto nuevos como usados.
                        </p>
                    </div>
                    <div class="company-progress">
                        <div class="progress-item">
                            <label class="text-custom-black fs-16 fw-600">Habilidad de Negociación <span>100%</span></label>
                            <div class="progress">
                              <div class="progress-bar progress-bar-striped active">
                              </div>
                            </div>
                        </div>
                        <div class="progress-item">
                            <label class="text-custom-black fs-16 fw-600">Liderazgo <span>100%</span></label>
                            <div class="progress">
                              <div class="progress-bar progress-bar-striped active">
                              </div>
                            </div>
                        </div>
                        <div class="progress-item">
                            <label class="text-custom-black fs-16 fw-600">Solución de Problemas <span>100%</span></label>
                            <div class="progress">
                              <div class="progress-bar progress-bar-striped active">
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About us -->