<!-- Header -->
<app-header></app-header>

<!-- Start Subheader -->
<div class="subheader section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="breadcrumb-wrapper">
                    <div class="page-title">
                        <h1 class="text-theme fw-500">ÚNETE A NUESTRO EQUIPO</h1>
                    </div>
                    <ul class="custom breadcrumb">
                        <li>
                            <a href="index.html">Inicio</a>
                        </li>
                        <li class="active">
                            Trabaja con Nosotros
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Subheader -->
<section class="section-padding-top contact-us clearfix">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-7">
                <div class="contact-us-form">
                    <h4 class="text-custom-white mb-xl-30">Quieres Trabajar con Nosotros? Adelante!</h4>
                    <form class="mf_form_validate ajax_submit" action="https://formspree.io/f/xqkwboyw" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control form-control-custom" placeholder="Nombre" required="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control form-control-custom" placeholder="Correo Electrónico" required="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="phone" class="form-control form-control-custom" placeholder="Numero Celular" required="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="subject" class="form-control form-control-custom" placeholder="Asunto" required="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control form-control-custom" rows="4" name="message" placeholder="Cuéntanos tus habilidades y por qué quieres hacer parte de nuestro equipo"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn-first btn-border">Enviar</button>
                            </div>
                            <div class="col-12">
                                <div class="server_response w-100"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="contact-info">
                    <h4 class="text-theme fw-700">Estáremos felices de conocerte. Visítanos y tomemos un café</h4>
                    <ul class="custom">
                        <li>
                            <h5 class="text-theme fs-20"><i class="fas fa-map-marker-alt mr-2 text-custom-blue"></i> Ubicación</h5>
                            <p class="text-light-white no-margin fs-16">Calle 65A #23B 133, Barrio Guayacanes, Manizales</p>
                        </li>
                        <hr>
                        <li>
                            <h5 class="text-theme fs-20"><i class="fas fa-envelope mr-2 text-custom-blue"></i> Correo Electronico</h5>
                            <a href="mailto:" class="text-light-white fs-16">gerencia&#64;vistainmobiliariasas.com</a>
                        </li>
                        <hr>
                        <li>
                            <h5 class="text-theme fs-20"><i class="fas fa-phone-alt mr-2 text-custom-blue"></i> Número Telefónico</h5>
                            <a href="tel:" class="text-light-white fs-16">(+57) 891 20 30</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start Contact map -->
<!-- <div class="contact-map">
    <iframe src="https://maps.google.com/maps?q=university%20of%20san%20francisco&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe>
</div> -->
<!-- End Contact map -->
<!-- Start Newsletter -->
<!-- <section class="section-padding bg-call-to-action">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h5 class="text-custom-blue wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Oferte su inmueble con nosotros</h5>
                <h3 class="text-custom-white fw-700">Plan Referidos</h3>
            </div>
            <div class="section-description">
                <p class="text-custom-white">Con este formulario buscamos acercar a Vista Inmobiliaria a un mercado competitivo, conservando los valores coorporativos de la misma empresa, y respetando los derechos y deberes de nuestros clientes.</p>
            </div>
        </div>
        <div class="row consult-form">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="form-group">
                    <input type="text" name="#" class="form-control form-control-custom" placeholder="Nombre">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="form-group">
                    <input type="email" name="#" class="form-control form-control-custom" placeholder="Correo Electrónico">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="form-group">
                    <input type="text" name="#" class="form-control form-control-custom" placeholder="Número Telefónico">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="form-group">
                    <select class="form-control form-control-custom custom-select">
                        <option>Seleccione su ciudad</option>
                        <option>Manizales</option>
                        <option>Pereira</option>
                        <option>Bogota</option>
                        <option>Medellín</option>                            
                    </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="form-group">
                    <select class="form-control form-control-custom custom-select">
                        <option>Tipo de Negocio</option>
                        <option>Arrendamiento</option>
                        <option>Venta</option>
                        <option>Permuta</option>                            
                    </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="form-group">
                    <button type="submit" class="btn-first btn-submit full-width btn-height">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End Newsletter -->
<!-- Start Footer -->
<footer class="bg-custom-black section-padding footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-box mb-md-80">
                    <div class="footer-heading">
                        <h4 class="text-custom-white no-margin">Enlaces útiles</h4>
                    </div>
                    <ul class="custom links">
                        <li>
                            <a href="index.html" class="text-custom-white">Inicio</a>
                        </li>
                        <li>
                            <a href="https://vistainmobiliaria.co/main-contenido-cat-2.htm" target="_Black" class="text-custom-white">Quiénes Somos</a>
                        </li>
                        <li>
                            <a href="https://vistainmobiliaria.co/blog" target="_Black" class="text-custom-white">Blog</a>
                        </li>
                        <li>
                            <a href="https://vistainmobiliaria.co/" target="_Black" class="text-custom-white">Buscar Inmueble</a>
                        </li>
                        <li>
                            <a href="https://vistainmobiliaria.co/main-contactenos.htm" target="_Black" class="text-custom-white">Contáctenos</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-box mb-md-80">
                    <div class="footer-heading">
                        <h4 class="text-custom-white no-margin">Feed de Instagram</h4>
                    </div>
                    <ul class="custom insta-feed">
                        <li class="insta-item animate-img">
                            <a href="https://www.instagram.com/inmobiliaria.vista/?hl=es-la" target="_blank">
                                <img src="assets/images/homepage-1/insta-1-80x80.jpg" class="img-fluid full-width" alt="insta">
                            </a>
                        </li>
                        <li class="insta-item animate-img">
                            <a href="https://www.instagram.com/inmobiliaria.vista/?hl=es-la" target="_blank">
                                <img src="assets/images/homepage-1/insta-2-80x80.jpg" class="img-fluid full-width" alt="insta">
                            </a>
                        </li>
                        <li class="insta-item animate-img">
                            <a href="https://www.instagram.com/inmobiliaria.vista/?hl=es-la" target="_blank">
                                <img src="assets/images/homepage-1/insta-3-80x80.jpg" class="img-fluid full-width" alt="insta">
                            </a>
                        </li>
                        <li class="insta-item animate-img">
                            <a href="https://www.instagram.com/inmobiliaria.vista/?hl=es-la" target="_blank">
                                <img src="assets/images/homepage-1/insta-4-80x80.jpg" class="img-fluid full-width" alt="insta">
                            </a>
                        </li>
                        <li class="insta-item animate-img">
                            <a href="https://www.instagram.com/inmobiliaria.vista/?hl=es-la" target="_blank">
                                <img src="assets/images/homepage-1/insta-5-80x80.jpg" class="img-fluid full-width" alt="insta">
                            </a>
                        </li>
                        <li class="insta-item animate-img">
                            <a href="https://www.instagram.com/inmobiliaria.vista/?hl=es-la" target="_blank">
                                <img src="assets/images/homepage-1/insta-6-80x80.jpg" class="img-fluid full-width" alt="insta">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-box mb-xs-80">
                    <div class="footer-heading">
                        <h4 class="text-custom-white no-margin">Enlaces Rápidos</h4>
                    </div>
                    <ul class="custom links">
                        <li>
                            <a href="https://onedrive.live.com/?authkey=%21AOkx2n9Bqs31Cf4&cid=F0945017CE217DE2&id=F0945017CE217DE2%2115424&parId=root&o=OneUp" target="_blank" class="text-custom-white">Portafolio</a>
                        </li>
                        <li>
                            <a href= "https://vistainmobiliaria.co/s/alquiler" target="_blank" class="text-custom-white">Arrendamientos</a>
                        </li>
                        <li>
                            <a href= "https://vistainmobiliaria.co/s/venta" target="_blank" class="text-custom-white">Ventas</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/saravia_y_paloma/?hl=es-la" target="_blank" class="text-custom-white">Diseño de Interiores</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/ep1arquitectos/?hl=es-la" target="_blank" class="text-custom-white">Reparaciones Locativas</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="footer-box">
                    <div class="footer-heading">
                        <h4 class="text-custom-white no-margin">Quiero que me contacten</h4>
                    </div>
                    <div class="newsletter">
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-custom" placeholder="Número Telefónico">
                            </div>
                            <button class="btn-first btn-submit btn-height" type="submit">Enviar</button>
                        </form>
                    </div>
                    <div class="social-media">
                        <ul class="custom social-media">
                            <li><a href="https://www.facebook.com/vistainmobiliariasas/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.instagram.com/inmobiliaria.vista/?utm_medium=copy_link" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCw5zz615V49jdpSRJLVnqRw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="payment-logo mb-md-20">
                    <span class="text-custom-white fs-14 mr-3">Aceptamos pagos por</span>
                    <div class="payemt-icon">
                        <img src="assets/images/card01.png" alt="#">
                        <!-- <img src="assets/images/card02.png" alt="#">
                        <img src="assets/images/card03.png" alt="#">
                        <img src="" alt="#"> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <p class="text-custom-white no-margin">©2021 | All Right Reserved. <a href="index.html" class="text-custom-white">Designed By Vista Inmobiliaria</a></p>
            </div>
        </div>
    </div>
</div>
<!-- End Footer -->
<div id="back-top" class="back-top">
    <a href="#top"><i class="fas fa-chevron-up"></i><span class="d-block">Top</span></a>
</div>
<!-- login register -->
<div class="modal fade" id="login-register">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-body">
            <div class="login-register">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#register">Register</a>
                    </li>
                </ul>
                <div class="tab-content padding-20">
                    <div class="tab-pane active" id="login">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" name="#" class="form-control form-control-custom" placeholder="User Name" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="password" name="#" class="form-control form-control-custom" placeholder="Password" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="custom-checkbox">
                                            <input type="checkbox" name="#">  <span class="checkmark"></span> Remember me
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <a href="#" class="text-light-white fs-14">Lost Your Password</a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn-first btn-submit full-width btn-height">Login</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="social-links text-center mb-xl-20">
                            <p class="fs-12 mb-xl-20">Conectate con nuestras redes sociales</p>
                            <ul class="custom">
                                <li><a href="https://www.facebook.com/vistainmobiliariasas/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                        <div class="decleration">
                            By creating an account you are accepting our <a href="#" class="text-custom-blue">Terms & Conditions</a>
                        </div>
                    </div>
                    <div class="tab-pane" id="register">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" name="#" class="form-control form-control-custom" placeholder="User Name" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="email" name="#" class="form-control form-control-custom" placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="password" name="#" class="form-control form-control-custom" placeholder="Password" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="password" name="#" class="form-control form-control-custom" placeholder="Retype Password" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <select class="form-control form-control-custom custom-select">
                                            <option>Owner/Buyer</option>
                                            <option>Agent</option>
                                            <option>Agency</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn-first btn-submit full-width btn-height">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>