<!-- Start Our Category -->
<section class="section-padding bg-light-white our-category">
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h5 class="text-custom-blue wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Nuestro Mundo</h5>
                <h3 class="text-theme fw-700">La vida más fácil, servicios Vista Inmobiliaria</h3>
            </div>
            <div class="section-description">
                <p class="text-light-white"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane show active" id="home-maintainance">
                        <div class="home-maintainance-slider categories-slider-box">
                            <div class="slide-item">
                                <div class="categories-box animate-img">
                                    <a href="https://vistainmobiliaria.inmo.co/s/alquiler" target="_blank">
                                        <img src="assets/images/services/service1.jpg" class="image-fit" alt="img">
                                        <div class="text-wrapper">
                                            <h5 class="text-custom-blue no-margin fw-600 fs-20">Arrendamientos</h5>
                                            <p class="text-custom-white no-margin">+57 300 341 9743</p>
                                        </div>
                                    </a>
                                </div>
                            </div>                                
                            <div class="slide-item">
                                <div class="categories-box animate-img">
                                    <a href="https://www.instagram.com/saravia_y_paloma/?hl=es-la" target="_blank">
                                        <img src="assets/images/services/service3.png" class="image-fit" alt="img">
                                        <div class="text-wrapper">
                                            <h5 class="text-custom-blue no-margin fw-600 fs-20">Diseño de Interiores</h5>
                                            <p class="text-custom-white no-margin">+57 301 783 4561</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="slide-item">
                                <div class="categories-box animate-img">
                                    <a href="https://vistainmobiliaria.inmo.co/s/venta" target="_blank">
                                        <img src="assets/images/services/service2.png" class="image-fit" alt="img">
                                        <div class="text-wrapper">
                                            <h5 class="text-custom-blue no-margin fw-600 fs-20">Ventas</h5>
                                            <p class="text-custom-white no-margin">+57 312 733 8964</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="slide-item">
                                <div class="categories-box animate-img">
                                    <a href="#">
                                        <img src="assets/images/services/service4.jpg" class="image-fit" alt="img">
                                        <div class="text-wrapper">
                                            <h5 class="text-custom-blue no-margin fw-600 fs-20">Avalúo</h5>
                                            <p class="text-custom-white no-margin">+57 301 757 0879</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="slide-item">
                                <div class="categories-box animate-img">
                                    <a href="https://www.instagram.com/ep1arquitectos/?hl=es-la" target="_blank">
                                        <img src="assets/images/services/service5.jpg" class="image-fit" alt="img">
                                        <div class="text-wrapper">
                                            <h5 class="text-custom-blue no-margin fw-600 fs-20">Reparaciones Locativas</h5>
                                            <p class="text-custom-white no-margin">+57 314 887 0829</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="slider-btn">
                            <div class="hm-button-next swiper-button-next">
                                <span class="flaticon-arrow-1"></span>
                            </div>
                            <div class="hm-button-prev swiper-button-prev">
                                <span class="flaticon-left"></span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="gen-construction">
                        <div class="gen-construction-slider categories-slider-box">
                            <!-- <div class="slide-item">
                                <div class="categories-box animate-img">
                                    <a href="#">
                                        <img src="assets/images/services/service6.jpg" class="image-fit" alt="img">
                                        <div class="text-wrapper">
                                          <h5 class="text-custom-blue no-margin fw-600 fs-20">Maintenance</h5>
                                          <p class="text-light-white no-margin">Building  Maintaince</p>
                                        </div>
                                    </a>
                                </div>
                            </div> -->
                            <!-- <div class="slide-item">
                                <div class="categories-box animate-img">
                                    <a href="#">
                                        <img src="assets/images/services/service7.jpg" class="image-fit" alt="img">
                                        <div class="text-wrapper">
                                          <h5 class="text-custom-blue no-margin fw-600 fs-20">Living Quality</h5>
                                          <p class="text-light-white no-margin">Quality Homes</p>
                                        </div>
                                    </a>
                                </div>
                            </div> -->
                            <!-- <div class="slide-item">
                                <div class="categories-box animate-img">
                                    <a href="#">
                                        <img src="assets/images/services/service1.jpg" class="image-fit" alt="img">
                                        <div class="text-wrapper">
                                          <h5 class="text-custom-blue no-margin fw-600 fs-20">Expert Mechanical</h5>
                                          <p class="text-light-white no-margin">Building Renovation</p>
                                        </div>
                                    </a>
                                </div>
                            </div> -->
                            <!-- <div class="slide-item">
                                <div class="categories-box animate-img">
                                    <a href="#">
                                        <img src="assets/images/services/service2.jpg" class="image-fit" alt="img">
                                        <div class="text-wrapper">
                                          <h5 class="text-custom-blue no-margin fw-600 fs-20">Apartment Design</h5>
                                          <p class="text-light-white no-margin">Architecture Design</p>
                                        </div>
                                    </a>
                                </div>
                            </div> -->
                            <!-- <div class="slide-item">
                                <div class="categories-box animate-img">
                                    <a href="#">
                                        <img src="assets/images/services/service3.jpg" class="image-fit" alt="img">
                                        <div class="text-wrapper">
                                          <h5 class="text-custom-blue no-margin fw-600 fs-20">House Building</h5>
                                          <p class="text-light-white no-margin">Building Construction</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="slider-btn">
                            <div class="gen-con-button-next swiper-button-next">
                                <span class="flaticon-arrow-1"></span>
                            </div>
                            <div class="gen-con-button-prev swiper-button-prev">
                                <span class="flaticon-left"></span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="restructured">
                        <!-- <div class="restructured-slider categories-slider-box">
                            <div class="slide-item">
                                <div class="categories-box animate-img">
                                    <a href="#">
                                        <img src="assets/images/services/service4.jpg" class="image-fit" alt="img">
                                        <div class="text-wrapper">
                                          <h5 class="text-custom-blue no-margin fw-600 fs-20">House Building</h5>
                                          <p class="text-light-white no-margin">Building Construction</p>
                                        </div>
                                    </a>
                                </div>
                            </div> -->
                            <!-- <div class="slide-item">
                                <div class="categories-box animate-img">
                                    <a href="#">
                                        <img src="assets/images/services/service5.jpg" class="image-fit" alt="img">
                                        <div class="text-wrapper">
                                          <h5 class="text-custom-blue no-margin fw-600 fs-20">Apartment Design</h5>
                                          <p class="text-light-white no-margin">Architecture Design</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="slide-item">
                                <div class="categories-box animate-img">
                                    <a href="#">
                                        <img src="assets/images/services/service6.jpg" class="image-fit" alt="img">
                                        <div class="text-wrapper">
                                          <h5 class="text-custom-blue no-margin fw-600 fs-20">Expert Mechanical</h5>
                                          <p class="text-light-white no-margin">Building Renovation</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="slide-item">
                                <div class="categories-box animate-img">
                                    <a href="#">
                                        <img src="assets/images/services/service7.jpg" class="image-fit" alt="img">
                                        <div class="text-wrapper">
                                          <h5 class="text-custom-blue no-margin fw-600 fs-20">Living Quality</h5>
                                          <p class="text-light-white no-margin">Quality Homes</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="slide-item">
                                <div class="categories-box animate-img">
                                    <a href="#">
                                        <img src="assets/images/services/service1.jpg" class="image-fit" alt="img">
                                        <div class="text-wrapper">
                                          <h5 class="text-custom-blue no-margin fw-600 fs-20">Maintenance</h5>
                                          <p class="text-light-white no-margin">Building  Maintaince</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div> -->
                        <!-- Add Arrows -->
                        <div class="slider-btn">
                            <div class="res-button-next swiper-button-next">
                                <span class="flaticon-arrow-1"></span>
                            </div>
                            <div class="res-button-prev swiper-button-prev">
                                <span class="flaticon-left"></span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="tab-pane" id="project-management">
                        <div class="project-management-slider categories-slider-box">
                            <div class="slide-item">
                                <div class="categories-box animate-img">
                                    <a href="#">
                                        <img src="assets/images/services/service1.jpg" class="image-fit" alt="img">
                                        <div class="text-wrapper">
                                            <h5 class="text-custom-blue no-margin fw-600 fs-20">Flat</h5>
                                            <p class="text-light-white no-margin">Project Management</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="slide-item">
                                <div class="categories-box animate-img">
                                    <a href="#">
                                        <img src="assets/images/services/service2.jpg" class="image-fit" alt="img">
                                        <div class="text-wrapper">
                                          <h5 class="text-custom-blue no-margin fw-600 fs-20">Maintenance</h5>
                                          <p class="text-light-white no-margin">Building  Maintaince</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="slide-item">
                                <div class="categories-box animate-img">
                                    <a href="#">
                                        <img src="assets/images/services/service3.jpg" class="image-fit" alt="img">
                                        <div class="text-wrapper">
                                            <h5 class="text-custom-blue no-margin fw-600 fs-20">Flat</h5>
                                            <p class="text-light-white no-margin">Project Management</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="slide-item">
                                <div class="categories-box animate-img">
                                    <a href="#">
                                        <img src="assets/images/services/service4.jpg" class="image-fit" alt="img">
                                        <div class="text-wrapper">
                                          <h5 class="text-custom-blue no-margin fw-600 fs-20">Maintenance</h5>
                                          <p class="text-light-white no-margin">Building  Maintaince</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="slide-item">
                                <div class="categories-box animate-img">
                                    <a href="#">
                                        <img src="assets/images/services/service5.jpg" class="image-fit" alt="img">
                                        <div class="text-wrapper">
                                            <h5 class="text-custom-blue no-margin fw-600 fs-20">Flat</h5>
                                            <p class="text-light-white no-margin">Project Management</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div> --> -->
                        <!-- Add Arrows -->
                        <div class="slider-btn">
                            <div class="pm-button-next swiper-button-next">
                                <span class="flaticon-arrow-1"></span>
                            </div>
                            <div class="pm-button-prev swiper-button-prev">
                                <span class="flaticon-left"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="categories-tabs">
                    <ul class="custom nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active text-custom-black" data-toggle="tab" href="#home-maintainance"><span><img src="assets/images/svg/home-main.svg" class="image-fit" alt="svg"></span> Diseño de Interiores</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-custom-black" data-toggle="tab" href="#home-maintainance"><span><img src="assets/images/svg/gen-const.svg" class="image-fit" alt="svg"></span> Avalúos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-custom-black" data-toggle="tab" href="#home-maintainance"><span><img src="assets/images/svg/restructer.svg" class="image-fit" alt="svg"></span> Ventas y Arrendamientos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-custom-black" data-toggle="tab" href="#home-maintainance"><span><img src="assets/images/svg/project-m.svg" class="image-fit" alt="svg"></span> Reparaciones Locativas</a>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Our Category -->