<!-- Start Our History -->
<section class="section-padding bg-light-white our-history">
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h5 class="text-custom-blue wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Nuestra Historia</h5>
                <h3 class="text-theme fw-700">Nuestro presente construye un gran futuro</h3>
            </div>
            <div class="section-description">
                <p class="text-light-white">Desde nuestros inicios nos enfocamos en el trabajo duro y los sueños grandes, nuestra mayor virtud es ser nosotros, respetar nuestra promesa de valor y ser éticamente correctos en todos nuestros procesos.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="video-box mb-xl-40">
                    <div class="video_wrapper video_wrapper_full js-videoWrapper">
                        <iframe class="videoIframe js-videoIframe" src="https://www.youtube.com/embed/g7mUu4NXNqc" data-src="https://www.youtube.com/embed/g7mUu4NXNqc?autoplay=1" allow="autoplay"></iframe>
                        <div class="videoPoster js-videoPoster">
                            <img src="assets/images/img.jpg" class="image-fit" alt="#">
                            <div class="video-inner video-btn-wrapper"> <a href="JavaScript:Void(0);" class="text-custom-blue"><i class="far fa-play-circle"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="tab-content padding-20 bg-custom-white bx-wrapper">
                    <div class="tab-pane fade show active" id="start">
                        <div class="tab-inner">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="img-sec mb-md-40">
                                        <img src="assets/images/about-us/history3.jpg" class="full-width" alt="img">
                                    </div>
                                </div>
                                <div class="col-lg-6 align-self-center">
                                    <div class="content-box">
                                        <h4 class="text-custom-black fw-600">Inicios de nuestra compañía</h4>
                                        <p class="text-custom-blue mb-xl-20">Vista Inmobiliaria abre sus puertas en agosto del año 2016.</p>
                                        <p class="text-light-white mb-xl-20">Vista Inmobiliaria entra al mercado con ideas nuevas y convencidos que con innovación y a la vanguardia en tecnología, diseño y nuevas tendencias revolucionaremos el sistema inmobiliario en Manizales, con deseos de atenderlos con la mejor calidad, agilidad y servicio.</p>
                                        <p class="text-light-white mb-xl-20">Nuestros valores corporativos son:</p>
                                        <div class="list">
                                            <ul class="custom">
                                                <li class="fs-14 text-custom-blue">
                                                    <i class="fas fa-check"></i>
                                                    <span class="text-light-white">La Empatía</span>
                                                </li>
                                                <li class="fs-14 text-custom-blue">
                                                    <i class="fas fa-check"></i>
                                                    <span class="text-light-white">La Actitud</span>
                                                </li>
                                                <li class="fs-14 text-custom-blue">
                                                    <i class="fas fa-check"></i>
                                                    <span class="text-light-white">La Responsabilidad</span>
                                                </li>
                                                <li class="fs-14 text-custom-blue">
                                                    <i class="fas fa-check"></i>
                                                    <span class="text-light-white">La Lealtad</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <a href="https://onedrive.live.com/?authkey=%21AOkx2n9Bqs31Cf4&cid=F0945017CE217DE2&id=F0945017CE217DE2%2115424&parId=root&o=OneUp" target="_blank" class="btn-first btn-submit">Leer Más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="setup">
                        <div class="tab-inner">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="img-sec mb-md-40">
                                        <img src="assets/images/about-us/history2.jpg" class="full-width" alt="img">
                                    </div>
                                </div>
                                <div class="col-lg-6 align-self-center">
                                    <div class="content-box">
                                        <h4 class="text-custom-black fw-600">Improved Company</h4>
                                        <p class="text-custom-blue mb-xl-20">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                        <p class="text-light-white mb-xl-20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                                        <p class="text-light-white mb-xl-20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                                        <div class="list">
                                            <ul class="custom">
                                                <li class="fs-14 text-custom-blue">
                                                    <i class="fas fa-check"></i>
                                                    <span class="text-light-white">Lorem Ipsum</span>
                                                </li>
                                                <li class="fs-14 text-custom-blue">
                                                    <i class="fas fa-check"></i>
                                                    <span class="text-light-white">Lorem Ipsum</span>
                                                </li>
                                                <li class="fs-14 text-custom-blue">
                                                    <i class="fas fa-check"></i>
                                                    <span class="text-light-white">Lorem Ipsum</span>
                                                </li>
                                                <li class="fs-14 text-custom-blue">
                                                    <i class="fas fa-check"></i>
                                                    <span class="text-light-white">Lorem Ipsum</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <a href="#" class="btn-first btn-submit">Leer Más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="medium">
                        <div class="tab-inner">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="img-sec mb-md-40">
                                        <img src="assets/images/about-us/history4.jpg" class="full-width" alt="img">
                                    </div>
                                </div>
                                <div class="col-lg-6 align-self-center">
                                    <div class="content-box">
                                        <h4 class="text-custom-black fw-600">Delivering Results</h4>
                                        <p class="text-custom-blue mb-xl-20">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                        <p class="text-light-white mb-xl-20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                                        <p class="text-light-white mb-xl-20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                                        <div class="list">
                                            <ul class="custom">
                                                <li class="fs-14 text-custom-blue">
                                                    <i class="fas fa-check"></i>
                                                    <span class="text-light-white">Lorem Ipsum</span>
                                                </li>
                                                <li class="fs-14 text-custom-blue">
                                                    <i class="fas fa-check"></i>
                                                    <span class="text-light-white">Lorem Ipsum</span>
                                                </li>
                                                <li class="fs-14 text-custom-blue">
                                                    <i class="fas fa-check"></i>
                                                    <span class="text-light-white">Lorem Ipsum</span>
                                                </li>
                                                <li class="fs-14 text-custom-blue">
                                                    <i class="fas fa-check"></i>
                                                    <span class="text-light-white">Lorem Ipsum</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <a href="#" class="btn-first btn-submit">Leer Más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="advance">
                        <div class="tab-inner">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="img-sec mb-md-40">
                                        <img src="assets/images/about-us/history1.jpg" class="full-width" alt="img">
                                    </div>
                                </div>
                                <div class="col-lg-6 align-self-center">
                                    <div class="content-box">
                                        <h4 class="text-custom-black fw-600">Open 3 New Branches</h4>
                                        <p class="text-custom-blue mb-xl-20">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                        <p class="text-light-white mb-xl-20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum has been the industry's standard dummy text.</p>
                                        <p class="text-light-white mb-xl-20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                                        <div class="list">
                                            <ul class="custom">
                                                <li class="fs-14 text-custom-blue">
                                                    <i class="fas fa-check"></i>
                                                    <span class="text-light-white">Lorem Ipsum</span>
                                                </li>
                                                <li class="fs-14 text-custom-blue">
                                                    <i class="fas fa-check"></i>
                                                    <span class="text-light-white">Lorem Ipsum</span>
                                                </li>
                                                <li class="fs-14 text-custom-blue">
                                                    <i class="fas fa-check"></i>
                                                    <span class="text-light-white">Lorem Ipsum</span>
                                                </li>
                                                <li class="fs-14 text-custom-blue">
                                                    <i class="fas fa-check"></i>
                                                    <span class="text-light-white">Lorem Ipsum</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <a href="#" class="btn-first btn-submit">Leer Más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>        
    </div>
</section>
<!-- End Our History -->