<!-- Services Pay -->
<section class="section-padding bg-light-white">
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h5 class="text-custom-blue wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">La vida más fácil</h5>
                <h3 class="text-theme fw-700">Paga tus servicios</h3>
            </div>
            <div class="section-description">
                <p class="text-light-white">Buscando la comodidad y un servicios integral, acercamos todas las entidades correspondientes a los servicios públicos, en los enlaces de cada uno de ellos podrás ir directo a sus pasarelas de pago.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <div class="partner-box mb-md-40">
                    <div class="partner-logo">
                        <a href="https://www.aguasdemanizales.com.co/Factura" target="_blank">
                            <img src="assets/images/homepage-1/partner-1-120x120.jpg" class="img-fluid" alt="partners">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="partner-box mb-md-40">
                    <div class="partner-logo">
                        <a href="https://www.zonapagos.com/PagosN3/Vistas/Logins/LoginCliente.aspx" target="_blank"> 
                            <img src="assets/images/homepage-1/partner-2-120x120.jpg" class="img-fluid" alt="partners">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="partner-box mb-md-40">
                    <div class="partner-logo">
                        <a href="https://portalpagos.claro.com.co/index.php?view=vistas/personal/claro/formulario.php&id_objeto=10001#no-back-button" target="_blank">
                            <img src="assets/images/homepage-1/partner-3-120x120.jpg" class="img-fluid" alt="partners">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="partner-box mb-md-40">
                    <div class="partner-logo">
                        <a href="https://transacciones.tigo.com.co/servicios/facturas" target="_blank">
                            <img src="assets/images/homepage-1/partner-4-120x120.jpg" class="img-fluid" alt="partners">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="partner-box">
                    <div class="partner-logo">
                        <a href="https://sucursalpersonas.transaccionesbancolombia.com/mua/USER?scis=7m0GdXTQnRMg9P2hsSUAbxfQEEAiDRnf2yVtfc7jjg8%3D#no-back-button" target="_blank">
                            <img src="assets/images/homepage-1/partner-5-120x120.jpg" class="img-fluid" alt="partners">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="partner-box">
                    <div class="partner-logo">
                        <a href="https://gateway1.ecollect.co/eCollectPlus/SignIn.aspx" target="_blank">
                            <img src="assets/images/homepage-1/partner-6-120x120.jpg" class="img-fluid" alt="partners">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Pay -->