

<section class="py-16 bg-gray-100 relative">
  <div class="absolute inset-0"></div>
  <div class="container mx-auto relative z-10">
      <div class="text-center mb-8">
          <div>
              <h5 class="text-yellow-vista text-lg font-bold">LA VIDA MÁS FÁCIL</h5>
              <h3 class="text-black font-bold text-3xl">Paga tus servicios</h3>
          </div>
          <hr class="border-yellow-vista my-4 mx-auto w-2/12">
          <div>
              <p class="text-black mt-4 px-56">
                  Buscando la comodidad y un servicio integral, acercamos todas las entidades correspondientes a los servicios públicos. En los enlaces de cada uno de ellos podrás ir directo a sus pasarelas de pago.
              </p>
          </div>
      </div>

      <div class="flex justify-center flex-wrap space-x-4">
          <a href="https://www.aguasdemanizales.com.co/Factura" target="_blank">
              <img src="assets/images/homepage-1/partner-1-120x120.jpg" class="h-24 w-24" alt="partners">
          </a>
          <a href="https://www.zonapagos.com/PagosN3/Vistas/Logins/LoginCliente.aspx" target="_blank">
              <img src="assets/images/homepage-1/partner-2-120x120.jpg" class="h-24 w-24" alt="partners">
          </a>
          <a href="https://portalpagos.claro.com.co/index.php?view=vistas/personal/claro/formulario.php&amp;id_objeto=10001#no-back-button" target="_blank">
              <img src="assets/images/homepage-1/partner-3-120x120.jpg" class="h-24 w-24" alt="partners">
          </a>
          <a href="https://transacciones.tigo.com.co/servicios/facturas" target="_blank">
              <img src="assets/images/homepage-1/partner-4-120x120.jpg" class="h-24 w-24" alt="partners">
          </a>
          <a href="https://sucursalpersonas.transaccionesbancolombia.com/mua/USER?scis=7m0GdXTQnRMg9P2hsSUAbxfQEEAiDRnf2yVtfc7jjg8%3D#no-back-button" target="_blank">
              <img src="assets/images/homepage-1/partner-5-120x120.jpg" class="h-24 w-24" alt="partners">
          </a>
          <a href="https://gateway1.ecollect.co/eCollectPlus/SignIn.aspx" target="_blank">
              <img src="assets/images/homepage-1/partner-6-120x120.jpg" class="h-24 w-24" alt="partners">
          </a>
      </div>
  </div>
</section>
