<section class="py-16 bg-blue-500 relative">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="container mx-auto relative z-10">
        <div class="relative text-center mb-8">
          <!-- Left Button -->
          <button class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full">
            &#9664;
          </button>

          <div>
            <h5 class="text-yellow-vista text-lg font-bold">NUESTRO MUNDO</h5>
            <h3 class="text-white font-bold text-3xl">La vida más fácil, servicios Vista Inmobiliaria</h3>
          </div>
          <hr class="border-yellow-vista my-4 mx-auto w-2/12">

          <!-- Right Button -->
          <button class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full">
            &#9654;
          </button>
        </div>

        <!-- Contenedor para centrar las tarjetas -->
        <div class="flex justify-center">
            <div class="flex gap-4 max-w-5xl">
            <!-- Card 1 -->
            <div class="bg-cover bg-center w-1/4 h-64 p-4" style="background-image: url('https://placehold.co/500');">
                <div class="flex flex-col justify-between h-full">
                <div class="text-yellow-500">
                    <h3 class="text-lg font-bold">Título de la Tarjeta 1</h3>
                    <p>Este es el contenido de la tarjeta 1.</p>
                </div>
                <div class="text-yellow-500">
                    <p>Footer de la tarjeta 1</p>
                </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="bg-cover bg-center w-1/4 h-64 p-4" style="background-image: url('https://placehold.co/500');">
                <div class="flex flex-col justify-between h-full">
                <div class="text-yellow-500">
                    <h3 class="text-lg font-bold">Título de la Tarjeta 2</h3>
                    <p>Este es el contenido de la tarjeta 2.</p>
                </div>
                <div class="text-yellow-500">
                    <p>Footer de la tarjeta 2</p>
                </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="bg-cover bg-center w-1/4 h-64 p-4" style="background-image: url('https://placehold.co/500');">
                <div class="flex flex-col justify-between h-full">
                <div class="text-yellow-500">
                    <h3 class="text-lg font-bold">Título de la Tarjeta 3</h3>
                    <p>Este es el contenido de la tarjeta 3.</p>
                </div>
                <div class="text-yellow-500">
                    <p>Footer de la tarjeta 3</p>
                </div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="bg-cover bg-center w-1/4 h-64 p-4" style="background-image: url('https://placehold.co/500');">
                <div class="flex flex-col justify-between h-full">
                <div class="text-yellow-500">
                    <h3 class="text-lg font-bold">Título de la Tarjeta 4</h3>
                    <p>Este es el contenido de la tarjeta 4.</p>
                </div>
                <div class="text-yellow-500">
                    <p>Footer de la tarjeta 4</p>
                </div>
                </div>
            </div>
            </div>
        </div>

    </div>
</section>



<section class="py-16 bg-blue-500 relative">
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="container mx-auto relative z-10">
      <div class="relative text-center mb-8">
          <!-- Left Button -->
          <button id="carouselPrev" class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full">
              &#9664;
          </button>

          <div>
              <h5 class="text-yellow-vista text-lg font-bold">NUESTRO MUNDO</h5>
              <h3 class="text-white font-bold text-3xl">La vida más fácil, servicios Vista Inmobiliaria</h3>
          </div>
          <hr class="border-yellow-vista my-4 mx-auto w-2/12">

          <!-- Right Button -->
          <button id="carouselNext" class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full">
              &#9654;
          </button>
      </div>

      <!-- Carrusel de servicios -->
      <div id="carouselContainer" class="flex justify-center items-center max-w-5xl mx-auto overflow-hidden">
        <div class="degrade relative min-w-[230px] w-[230px] h-[230px]">
            <a href="https://vistainmobiliaria.inmo.co/s/venta" target="_blank">
                <img src="assets/images/services/service2.png" class="w-full h-full object-cover overflow-hidden shadow-lg transform hover:scale-105 transition duration-300" alt="Ventas">
                <div class="absolute bottom-0 left-0 p-4">
                    <h5 class="text-yellow-vista font-semibold text-lg">Ventas</h5>
                    <p class="text-black">+57 312 733 8964</p>
                </div>
            </a>
        </div>
        <div class="degrade relative min-w-[230px] w-[230px] h-[230px]">
            <a href="#" target="_blank">
                <img src="assets/images/services/service4.jpg" class="w-full h-full object-cover overflow-hidden shadow-lg transform hover:scale-105 transition duration-300" alt="Avalúo">
                <div class="absolute bottom-0 left-0 p-4">
                    <h5 class="text-yellow-vista font-semibold text-lg">Avalúo</h5>
                    <p class="text-black">+57 301 757 0879</p>
                </div>
            </a>
        </div>
        <div class="degrade relative min-w-[230px] w-[230px] h-[230px]">
            <a href="https://www.instagram.com/ep1arquitectos/?hl=es-la" target="_blank">
                <img src="assets/images/services/service5.jpg" class="w-full h-full object-cover overflow-hidden shadow-lg transform hover:scale-105 transition duration-300" alt="Reparaciones Locativas">
                <div class="absolute bottom-0 left-0 p-4">
                    <h5 class="text-yellow-vista font-semibold text-lg">Reparaciones Locativas</h5>
                    <p class="text-black">+57 314 887 0829</p>
                </div>
            </a>
        </div>
        <div class="degrade relative min-w-[230px] w-[230px] h-[230px]">
            <a href="https://vistainmobiliaria.inmo.co/s/alquiler" target="_blank">
                <img src="assets/images/services/service1.jpg" class="w-full h-full object-cover overflow-hidden shadow-lg transform hover:scale-105 transition duration-300" alt="Arrendamientos">
                <div class="absolute bottom-0 left-0 p-4">
                    <h5 class="text-yellow-vista font-semibold text-lg">Arrendamientos</h5>
                    <p class="text-black">+57 300 341 9743</p>
                </div>
            </a>
        </div>
        <div class="degrade relative min-w-[230px] w-[230px] h-[230px]">
            <a href="https://www.instagram.com/saravia_y_paloma/?hl=es-la" target="_blank">
                <img src="assets/images/services/service3.png" class="w-full h-full object-cover overflow-hidden shadow-lg transform hover:scale-105 transition duration-300" alt="Diseño de Interiores">
                <div class="absolute bottom-0 left-0 p-4">
                    <h5 class="text-yellow-vista font-semibold text-lg">Diseño de Interiores</h5>
                    <p class="text-black">+57 301 783 4561</p>
                </div>
            </a>
        </div>
    </div>
  </div>
</section>

