<section class="py-16 bg-light-white relative">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="container mx-auto relative z-10">
        <div class="relative text-center mb-8">
            <!-- Left Button -->
            <button id="carouselPrev" class="z-30 absolute inset-y-0 flex items-center justify-center left-0 mr-8 ml-[310px]">
              <div class="boton-transicion-l inline-block p-1 shadow-md border-2 border-blue-necesary border-r-[5px]">
                <svg class="w-[30px] h-[30px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12l4-4m-4 4 4 4"/>
                </svg>
              </div>
            </button>

            <div>
                <h5 class="text-yellow-vista text-lg font-bold">NUESTRO MUNDO</h5>
                <h3 class="text-black font-bold text-2xl">La vida más fácil, servicios Vista Inmobiliaria</h3>
            </div>
            <hr class="border-[3px] border-yellow-vista my-2 mx-auto w-[80px]">

            <!-- Right Button -->
            <button id="carouselNext" class="z-30 absolute inset-y-0 flex items-center justify-center right-0 mr-[310px] ml-8">
              <div class="boton-transicion-r inline-block p-1 shadow-md border-2 border-yellow-vista border-l-[5px]">
                <svg class="w-[30px] h-[30px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
                </svg>
              </div>
            </button>
        </div>

        <!-- Carrusel de servicios -->
        <div id="carouselContainer" class="degrade flex justify-start items-center max-w-4xl mx-auto overflow-hidden">
            <div id="carouselTrack" class="flex transition-transform duration-300">
                <div class="relative min-w-[25%] w-[25%] h-[240px]">
                    <a href="https://vistainmobiliaria.inmo.co/s/venta" target="_blank">
                        <img src="assets/images/services/service2.png" class="w-full h-full object-cover shadow-lg transform hover:scale-105 transition duration-300" alt="Ventas">
                        <div class="z-20 absolute bottom-0 left-0 p-4">
                            <h5 class="text-yellow-vista font-semibold text-lg border-t-[3px] border-yellow-vista w-[70px]">Ventas</h5>
                            <!-- <p class="text-white">+57 312 733 8964</p> -->
                        </div>
                    </a>
                </div>
                <div class="relative min-w-[25%] w-[25%] h-[240px]">
                    <a href="#" target="_blank">
                        <img src="assets/images/services/service4.jpg" class="w-full h-full object-cover shadow-lg transform hover:scale-105 transition duration-300" alt="Avalúo">
                        <div class="z-20 absolute bottom-0 left-0 p-4">
                            <h5 class="text-yellow-vista font-semibold text-lg border-t-[3px] border-yellow-vista w-[70px]">Avalúo</h5>
                            <!-- <p class="text-white">+57 301 757 0879</p> -->
                        </div>
                    </a>
                </div>
                <div class="relative min-w-[25%] w-[25%] h-[240px]">
                    <a href="https://www.instagram.com/ep1arquitectos/?hl=es-la" target="_blank">
                        <img src="assets/images/services/service5.jpg" class="w-full h-full object-cover shadow-lg transform hover:scale-105 transition duration-300" alt="Reparaciones Locativas">
                        <div class="z-20 absolute bottom-0 left-0 p-4">
                            <h5 class="text-yellow-vista font-semibold text-lg border-t-[3px] border-yellow-vista">Reparaciones Locativas</h5>
                            <!-- <p class="text-white">+57 314 887 0829</p> -->
                        </div>
                    </a>
                </div>
                <div class="relative min-w-[25%] w-[25%] h-[240px]">
                    <a href="https://vistainmobiliaria.inmo.co/s/alquiler" target="_blank">
                        <img src="assets/images/services/service1.jpg" class="w-full h-full object-cover shadow-lg transform hover:scale-105 transition duration-300" alt="Arrendamientos">
                        <div class="z-20 absolute bottom-0 left-0 p-4">
                            <h5 class="text-yellow-vista font-semibold text-lg border-t-[3px] border-yellow-vista w-[70px]">Arrendamientos</h5>
                            <!-- <p class="text-white">+57 300 341 9743</p> -->
                        </div>
                    </a>
                </div>
                <div class="degrade relative min-w-[25%] w-[25%] h-[240px]">
                    <a href="https://www.instagram.com/saravia_y_paloma/?hl=es-la" target="_blank">
                        <img src="assets/images/services/service3.png" class="w-full h-full object-cover shadow-lg transform hover:scale-105 transition duration-300" alt="Diseño de Interiores">
                        <div class="z-20 absolute bottom-0 left-0 p-4">
                            <h5 class="text-yellow-vista font-semibold text-lg border-t-[3px] border-yellow-vista">Diseño de Interiores</h5>
                            <!-- <p class="text-white">+57 301 783 4561</p> -->
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
  </section>


