<!-- Start Our Team -->
<section class="section-padding our-services">
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h5 class="text-custom-blue wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Nuestro Equipo</h5>
                <h3 class="text-theme fw-700">Conoce y Contacta a Nuestros Agentes Inmobiliarios</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="filter-gallery custom-tabs mb-xl-40">
                    <ul class="custom">
                        <li class="active" data-filter="*">
                            <a href="#" class="text-custom-black">Todos</a>
                        </li>
                        <li data-filter=".h-main">
                            <a href="#" class="text-custom-black">Agentes de Arrendamiento</a>
                        </li>
                        <li data-filter=".genrl-cons">
                            <a href="#" class="text-custom-black">Agentes de Ventas</a>
                        </li>
                        <li data-filter=".restructured">
                            <a href="#" class="text-custom-black">Mercadeo y Captaciones</a>
                        </li>
                        <li data-filter=".pro-manage">
                            <a href="#" class="text-custom-black">Administrativos</a>
                        </li>
                    </ul>
                </div>
                <div class="row gallery-grid">
                    <div class="col-lg-3 col-md-6 filter-box genrl-cons mt-4">
                        <div class="service-item animate-img mb-md-20">
                            <a href="#" tabindex="0">
                                <img src="assets/images/vista/agentes/6.jpg" class="image-fit" alt="img">
                                <div class="text-wrapper">
                                    <h5 class="text-custom-blue no-margin fw-600 fs-20">Florenciitaaaa Puentes</h5>
                                    <p class="text-custom-white no-margin">Agente Inmobiliario</p>
                                    <p class="text-custom-white no-margin">+57 322 263 9526</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 filter-box h-main mt-4">
                        <div class="service-item animate-img mb-sm-20">
                            <a href="#" tabindex="0">
                                <img src="assets/images/vista/agentes/13.jpg" class="image-fit" alt="img">
                                <div class="text-wrapper">
                                    <h5 class="text-custom-blue no-margin fw-600 fs-20">Luis Garcia</h5>
                                    <p class="text-custom-white no-margin">Agente Inmobiliario</p>
                                    <p class="text-custom-white no-margin">+57 310 263 1464</p>
                                </div>
                            </a>y
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 filter-box h-main mt-4">
                        <div class="service-item animate-img mb-xl-20">
                            <a href="#" tabindex="0">
                                <img src="assets/images/vista/agentes/23.jpg" class="image-fit" alt="img">
                                <div class="text-wrapper">
                                    <h5 class="text-custom-blue no-margin fw-600 fs-20">Jhonatan Ramirez</h5>
                                    <p class="text-custom-white no-margin">Agente Inmobiliario</p>
                                    <p class="text-custom-white no-margin">+57 301 467 1842</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 filter-box h-main mt-4">
                        <div class="service-item animate-img">
                            <a href="#" tabindex="0">
                                <img src="assets/images/vista/agentes/8.jpg" class="image-fit" alt="img">
                                <div class="text-wrapper">
                                    <h5 class="text-custom-blue no-margin fw-600 fs-20">Kathery Murillo</h5>
                                    <p class="text-custom-white no-margin">Agente Inmobiliario</p>
                                    <p class="text-custom-white no-margin">+57 322 263 9527</p>
                                </div>
                            </a>
                        </div>
                    </div>
                  
                    <div class="col-lg-3 col-md-6 filter-box genrl-cons mt-4">
                        <div class="service-item animate-img">
                            <a href="#" tabindex="0">
                                <img src="assets/images/vista/agentes/11.jpg" class="image-fit" alt="img">
                                <div class="text-wrapper">
                                    <h5 class="text-custom-blue no-margin fw-600 fs-20">Natalia Lozano</h5>
                                    <p class="text-custom-white no-margin">Agente Inmobiliario</p>
                                    <p class="text-custom-white no-margin">+57 313 339 2634</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 filter-box h-main mt-4">
                        <div class="service-item animate-img">
                            <a href="#" tabindex="0">
                                <img src="assets/images/vista/agentes/12.jpg" class="image-fit" alt="img">
                                <div class="text-wrapper">
                                    <h5 class="text-custom-blue no-margin fw-600 fs-20">Olga Puentes</h5>
                                    <p class="text-custom-white no-margin">Agente Inmobiliario</p>
                                    <p class="text-custom-white no-margin">+57 301 247 0202</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 filter-box pro-manage mt-4">
                        <div class="service-item animate-img">
                            <a href="#" tabindex="0">
                                <img src="assets/images/vista/agentes/14.png" class="image-fit" alt="img">
                                <div class="text-wrapper">
                                    <h5 class="text-custom-blue no-margin fw-600 fs-20">Fabio Puentes</h5>
                                    <p class="text-custom-white no-margin">Gerente General</p>
                                    <p class="text-custom-white no-margin">+57 301 757 0879</p>                                        
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 filter-box genrl-cons mt-2">
                        <div class="service-item animate-img">
                            <a href="#" tabindex="0">
                                <img src="assets/images/vista/agentes/15.jpg" class="image-fit" alt="img">
                                <div class="text-wrapper">
                                    <h5 class="text-custom-blue no-margin fw-600 fs-20">Wilson Ladino</h5>
                                    <p class="text-custom-white no-margin">Agente Inmobiliario</p>
                                    <p class="text-custom-white no-margin">+57 301 375 5946</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 filter-box restructured mt-4">
                        <div class="service-item animate-img mb-xl-20">
                            <a href="#" tabindex="0">
                                <img src="assets/images/vista/agentes/3.jpg" class="image-fit" alt="img">
                                <div class="text-wrapper">
                                    <h5 class="text-custom-blue no-margin fw-600 fs-20">Sebastian Duque</h5>
                                    <p class="text-custom-white no-margin">Agente Audiovisual</p>
                                    <p class="text-custom-white no-margin">+57 314 299 7669</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 filter-box genrl-cons mt-4">
                        <div class="service-item animate-img mb-xl-20">
                            <a href="#" tabindex="0">
                                <img src="assets/images/vista/agentes/18.jpg" class="image-fit" alt="img">
                                <div class="text-wrapper">
                                    <h5 class="text-custom-blue no-margin fw-600 fs-20">César Sánchez Castañeda</h5>
                                    <p class="text-custom-white no-margin">Agente Inmobiliario</p>
                                    <p class="text-custom-white no-margin">+57 305 815 9543</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 filter-box restructured mt-4">
                        <div class="service-item animate-img mb-xl-20">
                            <a href="#" tabindex="0">
                                <img src="assets/images/vista/agentes/21.jpg" class="image-fit" alt="img">
                                <div class="text-wrapper">
                                    <h5 class="text-custom-blue no-margin fw-600 fs-20">Jaime Hernan Roman</h5>
                                    <p class="text-custom-white no-margin">Agente de Captaciones</p>
                                    <p class="text-custom-white no-margin">+57 302 243 3638</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 filter-box pro-manage mt-4">
                        <div class="service-item animate-img mb-xl-20">
                            <a href="#" tabindex="0">
                                <img src="assets/images/vista/agentes/17.jpg" class="image-fit" alt="img">
                                <div class="text-wrapper">
                                    <h5 class="text-custom-blue no-margin fw-600 fs-20">Ana María Perez</h5>
                                    <p class="text-custom-white no-margin">Auxiliar Administrativa</p>
                                    <p class="text-custom-white no-margin">+57 302 383 4987</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 filter-box pro-manage mt-4">
                        <div class="service-item animate-img mb-xl-20">
                            <a href="#" tabindex="0">
                                <img src="assets/images/vista/agentes/19.jpg" class="image-fit" alt="img">
                                <div class="text-wrapper">
                                    <h5 class="text-custom-blue no-margin fw-600 fs-20">Paula Andrea Carvajal</h5>
                                    <p class="text-custom-white no-margin">Contadora</p>
                                    <p class="text-custom-white no-margin">+57 310 370 9146</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 filter-box pro-manage mt-4">
                        <div class="service-item animate-img mb-xl-20">
                            <a href="#" tabindex="0">
                                <img src="assets/images/vista/agentes/20.jpg" class="image-fit" alt="img">
                                <div class="text-wrapper">
                                    <h5 class="text-custom-blue no-margin fw-600 fs-20">Caterine Ladino Galvis</h5>
                                    <p class="text-custom-white no-margin">Lider Administrativa</p>
                                    <p class="text-custom-white no-margin">+57 302 460 1057</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Our Team -->