<!-- topbar -->
<app-top-toolbar></app-top-toolbar>

<!-- navigation -->
<header class="menu-style">
  <div class="container-fluid custom-container">
    <div class="row">
      <div class="col-12">
        <div class="header">
          <div class="logo">
            <a href="/">
              <img src="assets/images/vista/logo-vista.png" class="img-fluid image-fit" alt="Logo">
            </a>
          </div>
          <div class="right-side">
            <div class="navigation">
              <div class="logo">
                <a href="#">
                  <img src="assets/images/logo.pngx60" class="img-fluid image-fit" alt="Logo">
                </a>
              </div>
              <nav>
                <ul class="custom main-menu">
                  <li class="menu-item active">
                    <a href="/" class="text-theme fs-14">INICIO</a>
                  </li>

                  <li class="menu-item menu-item-has-children">
                    <a class="text-theme fs-14">VENTA</a>
                    <ul class="custom sub-menu">
                      <li class="menu-item" *ngFor="let option of salesOptions">
                        <a [href]="option.url" target="_blank" class="text-theme">{{ option.name }}</a>
                      </li>
                    </ul>
                  </li>

                  <li class="menu-item menu-item-has-children">
                    <a href="https://vistainmobiliaria.inmo.co/s/alquiler" target="_blank"
                      class="text-theme fs-14">ALQUILER</a>
                    <ul class="custom sub-menu">
                      <li class="menu-item" *ngFor="let option of rentOptions">
                        <a [href]="option.url" target="_blank" class="text-theme">{{ option.name }}</a>
                      </li>
                    </ul>
                  </li>

                  <li class="menu-item menu-item-has-children">
                    <a href="https://vistainmobiliaria.inmo.co/s/permutar" target="_blank"
                      class="text-theme fs-14">PERMUTAR</a>
                    <ul class="custom sub-menu">
                      <li class="menu-item" *ngFor="let option of exchangeOptions">
                        <a [href]="option.url" target="_blank" class="text-theme">{{ option.name }}</a>
                      </li>
                    </ul>
                  </li>

                  <li class="menu-item">
                    <a href="https://vistainmobiliaria.inmo.co/blog" target="_blank" class="text-theme fs-14">BLOG</a>
                  </li>

                  <li class="menu-item">
                    <a href="https://vistainmobiliaria.inmo.co/main-contenido-cat-2.htm" target="_blank"
                      class="text-theme fs-14">QUIÉNES SOMOS</a>
                  </li>

                  <li class="menu-item">
                    <a href="https://vistainmobiliaria.inmo.co/main-contactenos.htm" target="_blank"
                      class="text-theme fs-14">CONTÁCTENOS</a>
                  </li>
                </ul>
              </nav>
              <div class="social-media">
                <ul class="custom">
                  <li>
                    <a href="#" class="text-custom-white"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#" class="text-custom-white"><i class="fab fa-instagram"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="hamburger-menu">
              <div class="menu-btn">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <div class="right-side-2">
            <div class="cta-btn">
              <div class="cta-text">
                <a href="https://vistainmobiliaria.inmo.co/" target="_blank"
                  class="addlisting-btn btn-first btn-border">Buscar Inmueble</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
