<!-- topbar -->
<app-top-toolbar></app-top-toolbar>

<!-- <app-old-header></app-old-header> -->


<header class="bg-white h-20">

    <div class="flex justify-around">
        <div class="z-10">
            <img src="assets/images/vista/logo-vista.png" alt="Logo">
        </div>

        <div>
            <ul class="flex py-8 gap-4">
                <li class="text-base font-medium cursor-pointer">INICIO</li>
                <li class="flex text-base font-medium cursor-pointer hover:text-yellow-vista hover:border-b-4 hover:border-yellow-vista transition-all duration-500">
                    VENTA
                    <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
                    </svg>
                </li>
                <li class="text-base font-medium cursor-pointer">ALQUILER</li>
                <li class="text-base font-medium cursor-pointer">PERMUTAR</li>
                <li class="text-base font-medium cursor-pointer">BLOG</li>
                <li class="text-base font-medium cursor-pointer">QUIÉNES SOMOS</li>
                <li class="text-base font-medium cursor-pointer">CONTÁCTENOS</li>
            </ul>
        </div>

        <div class="bg-yellow-vista">
            Botno
        </div>
    </div>
    

</header>