<!-- Start Why choose us / testimonials-->
<section class="client-tesimonial arrow-shape-1">
    <div class="container-fluid no-padding">
        <div class="row no-gutters">
            <div class="col-lg-6">
                <div class="testimonials-box custom-container arrow-shape-2 wow fadeInLeftBig">
                    <div class="section-header">
                        <div class="section-heading">
                            <h5 class="text-custom-white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Trabajar en Vista Inmobiliaria</h5>
                            <h3 class="text-theme fw-700">Testimonios Vista</h3>
                        </div>
                        <div class="section-description">
                            <p class="text-custom-white"></p>
                        </div>
                    </div>
                    <div class="testimonials-wrapper">
                        <div class="col-12">
                            <div class="testimonial-nav row mb-xl-40">
                                <div class="slide-item col-12">
                                    <div class="testimonials-author">
                                        <a href="#">
                                            <img src="assets/images/homepage-1/testimonials-1-200x200.jpg" class="rounded-circle image-fit" alt="img">
                                        </a>
                                    </div>
                                </div>
                                <div class="slide-item col-12">
                                    <div class="testimonials-author">
                                        <a href="#">
                                            <img src="assets/images/homepage-1/testimonials-2-200x200.jpg" class="rounded-circle image-fit" alt="img">
                                        </a>
                                    </div>
                                </div>
                                <div class="slide-item col-12">
                                    <div class="testimonials-author">
                                        <a href="#">
                                            <img src="assets/images/homepage-1/testimonials-3-200x200.jpg" class="rounded-circle image-fit" alt="img">
                                        </a>
                                    </div>
                                </div>
                                <div class="slide-item col-12">
                                    <div class="testimonials-author">
                                        <a href="#">
                                            <img src="assets/images/homepage-1/testimonials-4-200x200.jpg" class="rounded-circle image-fit" alt="img">
                                        </a>
                                    </div>
                                </div>
                                <div class="slide-item col-12">
                                    <div class="testimonials-author">
                                        <a href="#">
                                            <img src="assets/images/homepage-1/testimonials-5-200x200.jpg" class="rounded-circle image-fit" alt="img">
                                        </a>
                                    </div>
                                </div>
                                <!-- <div class="slide-item col-12">
                                    <div class="testimonials-author">
                                        <a href="#">
                                            <img src="assets/images/homepage-1/testimonials-6-200x200.jpg" class="rounded-circle image-fit" alt="img">
                                        </a>
                                    </div>
                                </div> -->
                            </div>
                            <div class="testimonial-for row">
                                <div class="slide-item col-12">
                                    <div class="testimonials-inner">
                                        <div class="testimonial-content">
                                            <h4 class="text-theme fw-700 fs-20">"Amar lo que haces y sentir que importa"</h4>
                                            <p class="text-custom-white mb-xl-20">Añadimos profundidad,enfoque y viabilidad. Buscamos "eso"que falta para generar y mantener una ventaja competitiva.</p>
                                            <p class="text-custom-white mb-xl-20">Al mismo tiempo, vemos los frutos de nuestro trabajo todos los días en forma de grandes avances tecnológicos y proyectos desafiantes.</p>
                                            <p class="text-custom-black fw-700"><strong>César Sánchez<br> <span class="text-custom-white fw-400">Agente Audiovisual</span>
                                            </strong></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-item col-12">
                                    <div class="testimonials-inner">
                                        <div class="testimonial-content">
                                            <h4 class="text-theme fw-700 fs-20">Cada día brinda la oportunidad de aprender</h4>
                                            <p class="text-custom-white mb-xl-20">Me siento muy orgullosa de trabajar para Vista Inmobiliaria, porque me da la oportunidad de formar parte de un equipo profesional y dinámico.</p>
                                            <p class="text-custom-white mb-xl-20">Cada día brinda la oportunidad de aprender cosas nuevas e interesantes, donde se fomenta y se valora mucho el trabajo en equipo y las habilidades.</p>
                                            <p class="text-custom-black fw-700"><strong>Yeny Quintero<br><span class="text-custom-white fw-400">Agente de Arrendamientos</span></strong></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-item col-12">
                                    <div class="testimonials-inner">
                                        <div class="testimonial-content">
                                            <h4 class="text-theme fw-700 fs-20">Objetivos Claros!</h4>
                                            <p class="text-custom-white mb-xl-20">Tengo el mayor respeto por el impulso de la empresa para desarrollar continuamente nuevas tecnologías y mejorar los procesos de trabajo y las habilidades de los empleados. </p>
                                            <p class="text-custom-white mb-xl-20">Estoy orgulloso de formar parte de un equipo tan profesional y comprometido.</p>
                                            <p class="text-custom-black fw-700"><strong>Fabio Puentes<br><span class="text-custom-white fw-400">Gerente General</span></strong></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-item col-12">
                                    <div class="testimonials-inner">
                                        <div class="testimonial-content">
                                            <h4 class="text-theme fw-700 fs-20">Nos mueve el buen servicio</h4>
                                            <p class="text-custom-white mb-xl-20">En esta empresa estamos comprometidos con la mejora continua, en búsqueda de brindar siempre el mejor servicio. </p>
                                            <p class="text-custom-white mb-xl-20">Nuestra pormesa de valor y la prioridad es enfocar siempre tus necesidades con calidad y agilidad en cada proceso.</p>
                                            <p class="text-custom-black fw-700"><strong>Luisa Arango<br><span class="text-custom-white fw-400">Agente de Ventas</span></strong></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-item col-12">
                                    <div class="testimonials-inner">
                                        <div class="testimonial-content">
                                            <h4 class="text-theme fw-700 fs-20">"Se trata de trabajo en equipo"</h4>
                                            <p class="text-custom-white mb-xl-20">Somos un equipo unido y comprometido con brindar una atención eficaz, rápida y con un alto nivel de calidad. </p>
                                            <p class="text-custom-white mb-xl-20">Somos agentes profesionales y te asesoramos y acompañamos en todos los procesos de venta o arrendamiento desde el principio hasta el final.</p>
                                            <p class="text-custom-black fw-700"><strong>Olga Puentes<br><span class="text-custom-white fw-400">Agente de Arrendamientos</span></strong></p>
                                        </div>
                                    </div>
                                </div>                                    
                            </div>
                        </div>
                        <a routerLink="/contacto" class="btn-first btn-border">Quiero trabajar en Vista</a>
                        <!-- <a href="https://vistainmobiliaria.inmo.co/" target="_blank" class="btn-first btn-submit text-custom-white">Quiero trabajar en Vista</a> -->
                    </div>
                </div>                    
            </div>
            <div class="col-lg-6">
                <div class="clients-box custom-container wow fadeInRightBig">
                    <div class="section-header-right">
                        <div class="section-heading">
                            <h5 class="text-custom-blue wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Nuestros Portales</h5>
                            <h3 class="text-theme fw-700">Paga aquí tu canon de arrendamiento</h3>
                        </div>
                        <div class="section-description">
                            <p class="text-light-white">En este espacio ponemos a tu disposición la facilidad de pagar por nuestro botón de pago PSE, además si eres arrendatario podrás descargar tu cupón de pago y si eres propietario acceder con facilidad a tu estado de cuenta.</p>
                        </div>
                    </div>
                    <div class="clients-wrapper">
                        <div class="client-box">
                            <div class="client-item">
                                <a href="https://www.e-collect.com/customers/plus/InmobiliariaVistasSASPagosPlus.htm" target="_blank">
                                    <img src="assets/images/clients/client1.png" class="image-fit" alt="img">
                                </a>
                            </div>
                        </div>
                        <div class="client-box">
                            <div class="client-item">
                                <a href="https://simidocs.siminmobiliarias.com/base/simired/simidocsapi1.0/index.php?inmo=182&tipo=1" target="_blank">
                                    <img src="assets/images/clients/client2.png" class="image-fit" alt="img">
                                </a>
                            </div>
                        </div>
                        <div class="client-box">
                            <div class="client-item">
                                <a href="https://simidocs.siminmobiliarias.com/base/simired/simidocsapi1.0/index.php?inmo=182&tipo=2" target="_blank">
                                    <img src="assets/images/clients/client3.png" class="image-fit" alt="img">
                                </a>
                            </div>
                        </div>
                        <div class="client-box">
                            <div class="client-item">
                                <a href="https://listado.mercadolibre.com.co/inmuebles/apartamentos/venta/_CustId_263748198" target="_blank">
                                    <img src="assets/images/clients/client4.png" class="image-fit" alt="img">
                                </a>
                            </div>
                        </div>
                        <div class="client-box">
                            <div class="client-item">
                                <a href="https://www.olx.com.co/profile/64755323" target="_blank">
                                    <img src="assets/images/clients/client5.png" class="image-fit" alt="img">
                                </a>
                            </div>
                        </div>
                        <div class="client-box">
                            <div class="client-item">
                                <a href="https://www.fincaraiz.com.co/inmobiliaria-vista-inmobiliaria-339959.aspx" target="_blank">
                                    <img src="assets/images/clients/client6.png" class="image-fit" alt="img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Why choose us / testimonials -->