@keyframes fadeHeaderInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.menu-style{
    transition: 1s all;
}
.menu-style.sticky{
    animation-name: fadeHeaderInDown;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 22;
    background: #fff;
    animation-duration: 1s;
    animation-fill-mode: both;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.topbar.fixed-top,
.menu-style.fixed-header{
    position: fixed;
    top: 41px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background: #fff;
}
.topbar.fixed-top{
    top: 0;
    background-color: #111111;
}
.menu-open .menu-style,
.menu-open .menu-style.fixed-header {
    background-color: #000000ab;
}
.menu-style .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-style .header>.logo{
    width: 120px;
    position: relative;
    top: 0px;
    background-color: #ffb600;
    height: 82px;
}
.menu-style .header>.logo img{
    position: absolute;
    height: 117px;
    z-index: 10;
}
.menu-style .header>.logo:after{
    content: '';
    background-color: #ffb600;
    display: block;
    width: 120px;
    left: 0;
    position: absolute;
    height: 35px;
    z-index: 2;
    right: 0;
    bottom: -35px;
}
.menu-style .header .right-side{
    display: flex;
}
.menu-style .header .right-side-2 .cta-btn{
    background-color: #ffb600;
    position: relative;
}
.menu-style .header .right-side-2 .cta-btn .cta-text{
    padding: 17px 0px 17px 15px;
}
.menu-style .header .right-side-2 .cta-btn .cta-text:before{
    content: '';
    display: block;
    right: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 0px solid;
    border-left-color: #ffb600;
    border-right-color: #ffb600;
}
.menu-style .header .right-side-2 .cta-btn .cta-text:after{
    content: '';
    display: block;
    background-color: #ffb600;
    width: 1000%;
    height: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}
.menu-style .header .right-side-2 .cta-btn .cta-text .addlisting-btn span{
    margin-left: 10px;
}
.menu-style .header .right-side .hamburger-menu{
    display: none;
    align-items: center;
    cursor: pointer;
}
.menu-style .header .right-side .hamburger-menu .menu-btn{
    transition: 0.3s;
}
.menu-style .header .right-side .hamburger-menu .menu-btn span{
    background: #111111;
    height: 2px;
    width: 25px;
    margin-bottom: 5px;
    display: block;
    transform: 0.3s;
}
.menu-style .header .right-side .hamburger-menu .menu-btn span:last-child{
    margin-bottom: 0;
}
.menu-style .header .right-side .hamburger-menu .menu-btn.active{
    position: relative;
    top: -4px;
    transition: 0.3s;
}
.menu-style .header .right-side .hamburger-menu .menu-btn.active span:first-child{
    transform: rotate(45deg);
    transition: 0.3s;
    position: relative;
    top: 7.4px;
    background-color: #fff;
}
.menu-style .header .right-side .hamburger-menu .menu-btn.active span:nth-child(2){
    display: none;
}
.menu-style .header .right-side .hamburger-menu .menu-btn.active span:last-child{
    transform: rotate(-45deg);
    transition: 0.3s;
    background-color: #fff;
}
.menu-style .header .right-side .navigation .logo{
    display: none;
    margin: 10px 15px;
    width: 120px;
}
.menu-style .header .right-side .navigation .social-media{
    display: none;
    position: fixed;
    left: -320px;
    right: 0;
    width: 320px;
    bottom: 0;
    transition: 0.5s all;
    background: #eee;
}
.menu-style .header .right-side .navigation .social-media ul{
    display: flex;
}
.menu-style .header .right-side .navigation .social-media ul li:first-child{
    border-left: 0;
}
.menu-style .header .right-side .navigation .social-media ul li{
    width: 25%;
    float: left;
    position: relative;
    text-align: center;
    padding: 25px 0;
}
.menu-style .header .right-side .navigation .social-media ul li a{
    display: flex;
    padding: 0;
    width: 25px;
    height: 25px;
    text-align: center;
    margin: 0 auto;
    background: #ffb600;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.menu-style .header .right-side .navigation .social-media ul li a:hover{
    color:#fff;
}

.main-menu{
    display: flex;
}
.main-menu>li.menu-item{
    padding: 10px 0;
}
.main-menu>li.menu-item>a{
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    padding: 18px 20px;
}
.main-menu>li.menu-item>a:after{
    content: '';
    display: block;
    width: 0%;
    height: 4px;
    background-color: #ffb600;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.main-menu>li.menu-item:hover>a:after,
.main-menu>li.menu-item.active>a:after{
    width: 70%;
    transition: 0.3s;
}
.main-menu>li.menu-item.active>a{
    color: #ffb600;
}
.menu-item-has-children>a>.arrow:after{
    display: inline-block;
    margin-left: .55em;
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
.menu-item-has-children>.sub-menu{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    transform: translateY(-10px);
    border-bottom: solid 2px #ffb600;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,.15);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    width: 250px;
}
.menu-item-has-children:hover>.sub-menu{
    border-top: 1px solid #eee;
    opacity: 1;
    visibility: visible;
    z-index: 999;
    transform: translateY(0px);
    transition: 0.3s;
}
.menu-item-has-children.nav-postion:hover>.sub-menu{
    top: 0;
    transform: translateY(-100%);
}
.menu-item-has-children>.sub-menu>li.menu-item{
    padding: 0 10px;
}

.btn-black
{
    color: black !important;
    border: 2px solid #000 !important; 
}

.menu-item-has-children.nav-postion>.sub-menu>li.menu-item-has-children>.sub-menu{
    top: inherit;
}
.menu-item-has-children>.sub-menu>li.menu-item>a{
    display: block;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 1px solid #eee;
    transition: 0.5s;
    white-space: nowrap;
}
.menu-item-has-children>.sub-menu>li.menu-item:last-child>a{
    border:none;
}
.menu-item-has-children>.sub-menu>li.menu-item:hover>a{
    padding-left: 25px;
    transition: 0.5s;
}
.menu-item-has-children>.sub-menu>li.menu-item-has-children>a>.arrow{
    position: absolute;
    right: 10px;
    transform: rotate(-90deg);
}
.menu-item-has-children>.sub-menu>li.menu-item-has-children>a>.arrow:after{
    display: inline-block;
    margin-left: 0;
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
.menu-item-has-children>.sub-menu>li.menu-item-has-children>.sub-menu{
    left: 100%;
    top: -3%;
}
.menu-style.sticky .header>.logo{
    height: 60px;
}
.menu-style.sticky .header>.logo img{
    height: 87px;
}
.menu-style.sticky .header>.logo:after{
    height: 25px;
    bottom: -25px;
}
.menu-style.sticky .main-menu>li.menu-item{
    padding: 0;
}
.menu-style.sticky .header .right-side-2 .cta-btn .cta-text{
    padding: 7px 0px 7px 15px;
}