<!-- <div class="flex flex-col md:flex-row">
  <div class="md:w-2/3 p-4">
    <div>

      <div class="flex flex-col items-center justify-center text-center">
        <h1 class="text-4xl font-bold">Vista Inmobiliaria</h1>
        <p class="text-gray-500 mt-2">VistaInmobiliaria • 1.54 K suscriptores • 4 K videos</p>
        <p class="text-gray-700 mt-2">Más que una empresa, somos un equipo de profesionales</p>
        <p class="text-blue-500 mt-2">facebook.com/fabio.repelin.9 y 4 vínculos más</p>
      </div>

      <div class="flex flex-col items-center justify-center text-center mt-4">
        <button class="bg-red-600 text-white font-bold py-2 px-20 rounded-lg flex items-center">
          <svg class="w-10 h-6 mr-2" fill="currentColor" viewBox="0 0 24 24">
            <path d="M19.615,2.032c-0.97-1.177-2.732-1.204-3.928-1.232C11.63,0.661,8.256,0.646,5.247,0.8
                            c-1.229,0.057-2.409,0.244-3.563,0.634C0.391,1.822,0.015,2.731,0.001,3.653C-0.011,4.81,0,5.96,0,7.108v2.262
                            c0,1.156-0.011,2.306,0.001,3.462c0.014,0.932,0.39,1.842,1.684,2.219c1.154,0.39,2.334,0.577,3.563,0.634
                            c3.008,0.154,6.383,0.139,9.44,0.001c1.196-0.029,2.957-0.055,3.928-1.232c0.978-1.182,0.978-3.01,0.978-4.501V6.533
                            C20.593,5.042,20.593,3.214,19.615,2.032z M8.027,12.781V6.597l5.373,3.092L8.027,12.781z" />
          </svg>
          SUSCRIBIRME
        </button>
      </div>
    </div>
    <div class="flex justify-between mt-4">
      <button class="bg-red-600 text-white font-bold py-2 px-4 rounded-full">
        Visita Nuestro Canal de
        YouTube
      </button>
    </div>
  </div>

  <div class="p-4 rounded-lg text-center">

    <p class="text-lg">Nuestro <span class="text-yellow-500 font-bold">Objetivo</span> es crear <span
        class="font-bold">Comunidad</span></p>



    <p class="text-yellow-500">inmobiliaria.vista</p>
    <button class="bg-yellow-500 text-white font-bold py-2 px-4 rounded-full mt-4">Seguir</button>

    <div class="mt-32">
      <p class="font-bold text-lg">Nuestro Objetivo es hacer familias <span class="text-yellow-500">Felices</span>
      </p>
      <p class="text-yellow-500">vstainmobiliariaSAS</p>
      <button class="bg-yellow-500 text-white font-bold py-2 px-4 rounded-full mt-4">Seguir</button>

    </div>

  </div>


  <div class="md:w-1/3 p-4 flex flex-col space-y-4">



    <div class="bg-purple-500 p-4 rounded-lg text-center">
      <p class="text-white font-bold text-lg">Instagram</p>
      <img src="path/to/your/instagram-image.jpg" alt="Instagram" class="mx-auto">
    </div>

    <div class="bg-blue-500 p-4 rounded-lg text-center">
      <p class="text-white font-bold text-lg">Facebook</p>
      <img src="path/to/your/facebook-image.jpg" alt="Facebook" class="mx-auto">
    </div>



  </div>
</div> -->




<div class="grid grid-cols-2 grid-rows-2 gap-1">
  <div class="row-span-2 bg-cover bg-center h-96 bg-[url('assets/images/section-5/bg-youtube.jpg')]">
  </div>
  <div class="bg-cover bg-center h-72 bg-[url('assets/images/section-5/bg-instagram.jpg')]">
  </div>
  <div class="col-start-2 row-start-2 bg-cover bg-center h-72 bg-[url('assets/images/section-5/bg-facebook.jpg')]">
  </div>
</div>
