<h2>podojksojaljJjJJJJjJ</h2>
<div class="flex items-center justify-center w-full bg-red-500 text-white font-bold py-2 px-4 rounded">
  <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.75 18.75H5.25M5.25 12.75H11.25M5.25 6.75H22.75M18 18.75v-9.375m0 0h6m0 0v9.375m0 0h-6"></path></svg>
  <span>SUSCRIBIRME</span>
</div>


<button class="flex items-center justify-center w-full py-2 px-4 bg-red-500 text-white font-bold rounded">
  ▸
  <span class="mx-2">SUSCRIBIRME</span>
  ▸
</button>
