<div class="grid grid-cols-2 grid-rows-2 gap-1">

  <!-- Youtube -->
  <div class="row-span-2 bg-center h-full w-full bg-[url('assets/images/youtube-section/bg-youtube.jpg')] bg-no-repeat bg-cover relative">

    <button class="bg-red-600 text-white font-bold py-2 px-20 rounded-lg flex items-center absolute top-3/4 left-2/4">
      <svg class="w-10 h-6 mr-2" fill="currentColor" viewBox="0 0 24 24">
        <path d="M19.615,2.032c-0.97-1.177-2.732-1.204-3.928-1.232C11.63,0.661,8.256,0.646,5.247,0.8
                        c-1.229,0.057-2.409,0.244-3.563,0.634C0.391,1.822,0.015,2.731,0.001,3.653C-0.011,4.81,0,5.96,0,7.108v2.262
                        c0,1.156-0.011,2.306,0.001,3.462c0.014,0.932,0.39,1.842,1.684,2.219c1.154,0.39,2.334,0.577,3.563,0.634
                        c3.008,0.154,6.383,0.139,9.44,0.001c1.196-0.029,2.957-0.055,3.928-1.232c0.978-1.182,0.978-3.01,0.978-4.501V6.533
                        C20.593,5.042,20.593,3.214,19.615,2.032z M8.027,12.781V6.597l5.373,3.092L8.027,12.781z" />
      </svg>
      SUSCRIBIRME
    </button>

    <button class="bg-red-600 text-white font-bold py-2 px-4 absolute bottom-0">
      Visita Nuestro Canal de YouTube      
    </button>

  </div>

  <!-- Instagram -->
  <div class="bg-cover bg-center h-72 bg-[url('assets/images/youtube-section/bg-instagram.png')] relative">
    <button class="bg-yellow-vista text-white font-bold py-2 px-4 rounded-lg mt-4 absolute top-44 left-12">Seguir</button>
  </div>

  <!-- Facebook -->
  <div class="col-start-2 row-start-2 bg-cover bg-center h-72 bg-[url('assets/images/youtube-section/bg-facebook.png')] relative">
    <button class="bg-yellow-vista text-white font-bold py-2 px-4 rounded-lg mt-4 absolute top-44 left-20">Seguir</button>
  </div>

</div>
