<!-- Aditional Services -->
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="faqs-box mb-md-80">
                    <div class="section-header">
                        <div class="section-heading">
                            <h5 class="text-custom-blue wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Servicios Adiconales</h5>
                            <h3 class="text-theme fw-700">Pregúntanos por cada uno de estos</h3>
                        </div>
                        <div class="section-description">
                            <p class="text-light-white">Vista inmobiliaria se caracteriza, no solo por hacer ventas y arrenamientos efectivos, sino, asesoramos a nuestros clientes en como hacer ver más llamativo su inmueble, y hacer ganar mayor rentabilidad en los negocios.</p>
                        </div>
                    </div>
                    <div id="accordion" class="custom-accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <button class="collapsebtn" data-toggle="collapse" data-target="#collapseOne">
                                  Fotografía Profesional Inmuebles
                                </button>
                            </div>
                            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                              <div class="card-body">
                                <p class="text-theme no-margin">
                                    Agente Audiovisual:
                                </p>
                                <p class="text-theme no-margin">
                                    César Sánchez 305 815 9543
                                </p>
                              </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <button class="collapsebtn collapsed" data-toggle="collapse" data-target="#collapseTwo">
                                  Producción Audiovisual
                                </button>
                            </div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                <p class="text-theme no-margin">
                                    Agente Audiovisual:
                                </p>
                                <p class="text-theme no-margin">
                                    Cesar Sanchez 305 815 9543
                                </p>
                              </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <button class="collapsebtn collapsed" data-toggle="collapse" data-target="#collapseThree">
                                  Plan Referidos
                                </button>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                <p class="text-theme no-margin">
                                    Agente de Mercadeo:
                                </p>
                                <p class="text-theme no-margin">
                                    Luis Fernando Puentes 313 623 5934
                                </p>
                              </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <button class="collapsebtn collapsed" data-toggle="collapse" data-target="#collapseFour">
                                  Asesoría Contable
                                </button>
                            </div>
                            <div id="collapseFour" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                <p class="text-theme no-margin">
                                    Contadora:
                                </p>
                                <p class="text-theme no-margin">
                                    Paula Carvajal 310 370 9146
                                </p>
                              </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <button class="collapsebtn collapsed" data-toggle="collapse" data-target="#collapseFive">
                                  Asesoría Tributaria
                                </button>
                            </div>
                            <div id="collapseFive" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                <p class="text-theme no-margin">
                                    Contadora:
                                </p>
                                <p class="text-theme no-margin">
                                    Paula Carvajal 310 370 9146
                                </p>
                              </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingsix">
                                <button class="collapsebtn collapsed" data-toggle="collapse" data-target="#collapsesix">
                                  Venta y Arrendamiento de Inmuebles
                                </button>
                            </div>
                            <div id="collapsesix" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                <p class="text-theme no-margin">
                                    Arrendamiento: 300 341 9743
                                </p>
                                <p class="text-theme no-margin">
                                    Ventas: 312 733 8964
                                </p>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="schdule-box box-gray">
                    <div class="left-side">
                        <h6 class="text-custom-white">COMUNÍCATE CON UN AGENTE</h6>
                        <h4 class="text-custom-white no-margin">(+57) 891 2030</h4>
                    </div>
                    <div class="right-side">
                        <a href="https://vistainmobiliaria.inmo.co/" target="_blank" class="btn-first btn-submit text-custom-white">Buscar Inmueble</a>
                    </div>
                </div>
                <div class="instagram-sec">
                    <h3><i class="fab fa-instagram"></i> Síguenos</h3>
                    <div class="row clearfix">
                        <div class="col-md-4 col-6">
                            <div class="insta-img animate-img">
                                <a href="https://www.instagram.com/inmobiliaria.vista/?hl=es-la" target="_blank">
                                    <img src="assets/images/insta/insta3.jpg" class="image-fit" alt="img">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="insta-img animate-img">
                                <a href="https://www.instagram.com/inmobiliaria.vista/?hl=es-la" target="_blank">
                                    <img src="assets/images/insta/insta6.jpg" class="image-fit" alt="img">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="insta-img animate-img">
                                <a href="https://www.instagram.com/inmobiliaria.vista/?hl=es-la" target="_blank">
                                    <img src="assets/images/insta/insta4.jpg" class="image-fit" alt="img">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="insta-img animate-img">
                                <a href="https://www.instagram.com/inmobiliaria.vista/?hl=es-la" target="_blank">
                                    <img src="assets/images/insta/insta5.jpg" class="image-fit" alt="img">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="insta-img animate-img">
                                <a href="https://www.instagram.com/inmobiliaria.vista/?hl=es-la" target="_blank">
                                    <img src="assets/images/insta/insta2.jpg" class="image-fit" alt="img">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="insta-img animate-img">
                                <a href="https://www.instagram.com/inmobiliaria.vista/?hl=es-la" target="_blank">
                                    <img src="assets/images/insta/insta1.jpg" class="image-fit" alt="img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Aditional Services -->