<!-- Offer Your Property -->
<section class="section-padding bg-call-to-action">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h5 class="text-custom-blue wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Plan Referidos</h5>
                <h3 class="text-custom-white fw-700">Oferta tu inmueble con nosotros</h3>
            </div>
            <div class="section-description">
                <p class="text-custom-white">Con este formulario buscamos acercar a Vista Inmobiliaria a un mercado competitivo, conservando los valores coorporativos de la misma empresa, y respetando los derechos y deberes de nuestros clientes.</p>
            </div>
        </div>
        <form class="row consult-form" action="https://formspree.io/f/xyyljanv" method="POST">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="form-group">
                    <input type="text" name="#" class="form-control form-control-custom" placeholder="Nombre">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="form-group">
                    <input type="email" name="#" class="form-control form-control-custom" placeholder="Correo Electrónico">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="form-group">
                    <input type="text" name="#" class="form-control form-control-custom" placeholder="Número Telefónico">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="form-group">
                    <select class="form-control form-control-custom custom-select">
                        <option>Seleccione su ciudad</option>
                        <option>Manizales</option>
                        <option>Pereira</option>
                        <option>Bogota</option>
                        <option>Medellín</option>                            
                    </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="form-group">
                    <select class="form-control form-control-custom custom-select">
                        <option>Tipo de Negocio</option>
                        <option>Arrendamiento</option>
                        <option>Venta</option>
                        <option>Permuta</option>                            
                    </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="form-group">
                    <button type="submit" class="btn-first btn-submit full-width btn-height">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Offer Your Property -->