<!-- Offer Your Property -->
<section class="py-16 bg-blue-500 relative">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="container mx-auto relative z-10">
        <div class="text-center mb-8">
            <div>
                <h5 class="text-yellow-vista text-lg font-bold">PLAN REFERIDOS</h5>
                <h3 class="text-white font-bold text-3xl">Oferta tu inmueble con nosotros</h3>
            </div>
            <hr class="border-yellow-vista my-4 mx-auto w-2/12">            
            <div>
                <p class="text-white mt-4 px-56">Con este formulario buscamos acercar a Vista Inmobiliaria a un mercado competitivo, conservando los valores coorporativos de la misma empresa, y respetando los derechos y deberes de nuestros clientes.</p>
            </div>
        </div>
        <form class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mx-28" action="https://formspree.io/f/xyyljanv" method="POST">
            <div>
                <div class="mb-4">
                    <input type="text" name="nombre" class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" placeholder="Nombre">
                </div>
            </div>
            <div>
                <div class="mb-4">
                    <input type="email" name="email" class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" placeholder="Correo Electrónico">
                </div>
            </div>
            <div>
                <div class="mb-4">
                    <input type="text" name="telefono" class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" placeholder="Número Telefónico">
                </div>
            </div>
            <div>
                <div class="mb-4">
                    <select class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500">
                        <option>Seleccione su ciudad</option>
                        <option>Manizales</option>
                        <option>Pereira</option>
                        <option>Bogotá</option>
                        <option>Medellín</option>                            
                    </select>
                </div>
            </div>
            <div>
                <div class="mb-4">
                    <select class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500">
                        <option>Tipo de Negocio</option>
                        <option>Arrendamiento</option>
                        <option>Venta</option>
                        <option>Permuta</option>                            
                    </select>
                </div>
            </div>
            <div>
                <div class="mb-4">
                    <button type="submit" class="w-full py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Offer Your Property -->
