<!-- Start portfolio -->
<section class="section-padding">
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h5 class="text-custom-blue wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Nuestro Portafolio</h5>
                <h3 class="text-theme fw-700">Da un vistazo a nuestro trabajo</h3>
            </div>
            <div class="section-description">
                <p class="text-light-white">Explora nuestro portafolio de servicios, estaremos complacidos de ofrecerte una respuesta oportuna a tus requerimientos, para lo cual ponemos a tu disposición nuestra experiencia, con el fin de hacerte la vida más fácil.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="swiper-container featured-property-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="property-grid-box">
                                <div class="property-grid-wrapper">
                                    <div class="property-img animate-img">
                                        <a href="https://onedrive.live.com/?authkey=%21AOkx2n9Bqs31Cf4&cid=F0945017CE217DE2&id=F0945017CE217DE2%2115424&parId=root&o=OneUp" target="_blank">
                                            <img src="assets/images/portfolio/port1.jpg" class="img-fluid full-width" alt="#">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="property-grid-box">
                                <div class="property-grid-wrapper">
                                    <div class="property-img animate-img">
                                        <a href="https://onedrive.live.com/?authkey=%21AOkx2n9Bqs31Cf4&cid=F0945017CE217DE2&id=F0945017CE217DE2%2115424&parId=root&o=OneUp" target="_blank">
                                            <img src="assets/images/portfolio/port2.jpg" class="img-fluid full-width" alt="#">
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="property-grid-box">
                                <div class="property-grid-wrapper">
                                    <div class="property-img animate-img">
                                        <a href="https://onedrive.live.com/?authkey=%21AOkx2n9Bqs31Cf4&cid=F0945017CE217DE2&id=F0945017CE217DE2%2115424&parId=root&o=OneUp" target="_blank">
                                            <img src="assets/images/portfolio/port3.jpg" class="img-fluid full-width" alt="#">
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="property-grid-box">
                                <div class="property-grid-wrapper">
                                    <div class="property-img animate-img">
                                        <a href="https://onedrive.live.com/?authkey=%21AOkx2n9Bqs31Cf4&cid=F0945017CE217DE2&id=F0945017CE217DE2%2115424&parId=root&o=OneUp" target="_blank">
                                            <img src="assets/images/portfolio/port4.jpg" class="img-fluid full-width" alt="#">
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="property-grid-box">
                                <div class="property-grid-wrapper">
                                    <div class="property-img animate-img">
                                        <a href="https://onedrive.live.com/?authkey=%21AOkx2n9Bqs31Cf4&cid=F0945017CE217DE2&id=F0945017CE217DE2%2115424&parId=root&o=OneUp" target="_blank">
                                            <img src="assets/images/portfolio/port5.jpg" class="img-fluid full-width" alt="#">
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="property-grid-box">
                                <div class="property-grid-wrapper">
                                    <div class="property-img animate-img">
                                        <a href="https://onedrive.live.com/?authkey=%21AOkx2n9Bqs31Cf4&cid=F0945017CE217DE2&id=F0945017CE217DE2%2115424&parId=root&o=OneUp" target="_blank">
                                            <img src="assets/images/portfolio/port6.jpg" class="img-fluid full-width" alt="#">
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="property-grid-box">
                                <div class="property-grid-wrapper">
                                    <div class="property-img animate-img">
                                        <a href="https://onedrive.live.com/?authkey=%21AOkx2n9Bqs31Cf4&cid=F0945017CE217DE2&id=F0945017CE217DE2%2115424&parId=root&o=OneUp" target="_blank">
                                            <img src="assets/images/portfolio/port7.jpg" class="img-fluid full-width" alt="#">
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="property-grid-box">
                                <div class="property-grid-wrapper">
                                    <div class="property-img animate-img">
                                        <a href="https://onedrive.live.com/?authkey=%21AOkx2n9Bqs31Cf4&cid=F0945017CE217DE2&id=F0945017CE217DE2%2115424&parId=root&o=OneUp" target="_blank">
                                            <img src="assets/images/portfolio/port8.jpg" class="img-fluid full-width" alt="#">
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="slider-btn">
                    <div class="featured-button-next swiper-button-next">
                        <span class="flaticon-arrow-1"></span>
                    </div>
                    <div class="featured-button-prev swiper-button-prev">
                        <span class="flaticon-left"></span>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="featured-pagination swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
<!-- End portfolio -->