<!-- Tarjeta Amarilla -->
<div class="bg-yellow-vista text-center">
    <!-- Titulo ( ¡Todo puede ser más rápido! ) -->
    <h2 class="text-4xl font-bold mb-2 mt-3 relative inline-block">
        ¡Todo puede ser más rápido!
        <span class="absolute -bottom-3 left-0 w-full h-2 bg-orange-500 rounded-lg"></span>
    </h2>
    <!-- Texo #1 -->
    <p class="text-xl mt-3">Valoramos muchísimo tu tiempo, ahora puedes descargar todo</p>
    <p class="text-xl">lo relacionado con estados de cuenta y cupón de pago.</p>
    <!-- Texo #2 -->
    <p class="mt-6 text-xl">En este espacio ponemos a tu disposición la facilidad de pagar por nuestro bóton de pago
        PSE,
        además
        si eres arrendatario podrás descargar tu</p>
    <p class="text-xl">cupon de pago y si eres propietario podrás aceder con facilidad a tu estado de cuenta.</p>

    <!-- Tarjeta Blanca -->
    <div class="bg-white p-40 rounded-t-vista mt-8">

        <div class="grid grid-cols-4 gap-4">
            <!-- imágenes #1 ( fincaraíz ) -->
            <div class="w-52 h-52 md:w-40 md:h-40 lg:w-52 lg:h-52 xl:w-60 xl:h-60 mb-6 md:mb-0">
                <a href="https://www.fincaraiz.com.co/inmobiliaria-vista-inmobiliaria-339959.aspx">
                    <img src="assets/images/section-2/icon-fincaraíz.jpg" class="w-full h-full object-cover rounded">
                </a>
            </div>
            <!-- imágenes #2 ( pse ) -->
            <div class="w-52 h-52 md:w-40 md:h-40 lg:w-52 lg:h-52 xl:w-60 xl:h-60 mb-6 md:mb-0">
                <a href="https://www.e-collect.com/customers/plus/InmobiliariaVistasSASPagosPlus.htm">
                    <img src="assets/images/section-2/icon-pse.jpg" class="w-full h-full object-cover rounded">
                </a>
            </div>
            <!-- imágenes #3 ( propietarios ) -->
            <div class="w-52 h-52 md:w-40 md:h-40 lg:w-52 lg:h-52 xl:w-60 xl:h-60 mb-6 md:mb-0">
                <a href="https://simidocs.siminmobiliarias.com/base/simired/simidocsapi1.0/index.php?inmo=182&tipo=1"
                    target="_blank">
                    <img src="assets/images/section-2/icon-propietarios.jpg" class="w-full h-full object-cover rounded">
                </a>
            </div>
            <!-- imágen #4 ( arrendatarios ) -->
            <div class="w-52 h-52 md:w-40 md:h-40 lg:w-52 lg:h-52 xl:w-60 xl:h-60 mb-6 md:mb-0">
                <a href="https://simidocs.siminmobiliarias.com/base/simired/simidocsapi1.0/index.php?inmo=182&tipo=1"
                    target="_blank">
                    <img src="assets/images/section-2/icon-arrendatario.jpg" class="w-full h-full object-cover rounded">
                </a>
            </div>

        </div>

    </div>
</div>;
