<!-- preloader -->
<app-preloader></app-preloader>

<!-- Header -->
<app-header></app-header>

<!-- Banner -->
<app-banner></app-banner>

<!-- Opciones Rápidas -->
<app-quick-options></app-quick-options>

<!-- About us -->
<app-about-us></app-about-us>

<!-- Offer Your Property -->
<app-offer-your-property></app-offer-your-property>

<!-- Youtube Section -->
<app-youtube-section></app-youtube-section>

<!-- Start Our Team -->
<app-our-team></app-our-team>

<!-- Start portfolio -->
<!-- <app-our-portfolio></app-our-portfolio> -->

<!-- Start Our History -->
<!-- <app-our-history></app-our-history> -->



<!-- Start team -->
<!-- <app-our-featured-team></app-our-featured-team> -->

<!-- Start Blog -->
<!-- <app-our-blog></app-our-blog> -->

<!-- Testimonials and payments-->
<!-- <app-testimonial-and-payments></app-testimonial-and-payments> -->

<!-- Services Pay -->
<!-- <app-services-pay></app-services-pay> -->

<!-- Aditional Services -->
<!-- <app-aditional-services></app-aditional-services> -->

<!-- Footer -->
<!-- <app-footer></app-footer> -->
