<div class="relative h-screen overflow-hidden">

  <ng-container *ngIf="!canShowVideo">

    <div class="flex justify-center items-center min-h-screen bg-black">
      <div class="relative w-20 h-20">
        <img src="assets/images/icon.ico" alt="Logo" class="absolute inset-0 w-full h-full object-cover transform rotate-180 animate-spin infinite">
      </div>
    </div>
  </ng-container>

  <iframe [ngClass]="{'hidden':!canShowVideo}"
    height="820"
    src="https://www.youtube.com/embed/6PYFX7DI14U?autoplay=1&mute=1&loop=1&playlist=6PYFX7DI14U"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe>


  <div *ngIf="canShowVideo" class="absolute inset-0 flex items-center justify-center pb-30">
    <button (click)="prevText()" class="z-30 flex items-center justify-center right-0 mr-8 ml-8">
      <div class="featured-button-prev swiper-button-prev"><span class="flaticon-left"></span></div>
    </button>
    <div *ngIf="texts[currentIndex]" class="slide-in-from-right">
      <h1 [ngStyle]="texts[currentIndex].styles.header">{{ texts[currentIndex].header }}</h1>
      <h1 [ngStyle]="texts[currentIndex].styles.footheader">{{ texts[currentIndex].footheader }}</h1>
      <h1 [ngStyle]="texts[currentIndex].styles.sth">{{ texts[currentIndex].sth }}</h1>
      <h2 [ngStyle]="texts[currentIndex].styles.subheader">
        <span *ngIf="hasSolidez(texts[currentIndex].subheader)" [ngStyle]="{color: '#ffb600'}">Solidez,</span>
        <span>{{ texts[currentIndex].subheader.split(', ')[1] }}</span>
      </h2>
      <h2 [ngStyle]="texts[currentIndex].styles.paragraph">{{ texts[currentIndex].paragraph }}</h2>
      <div class="flex justify-center items-center h-full mt-6">
        <a href="https://vistainmobiliaria.inmo.co/main-contactenos.htm" target="_blank" class="btn-first btn-submit text-custom-white mr-5">Contáctenos</a>
        <a href="https://vistainmobiliaria.inmo.co/blog" target="_blank" class="btn-first btn-border ml-5">Blog</a>
      </div>
    </div>
    <button (click)="nextText()" class="z-30 flex items-center justify-center right-0 mr-8 ml-8">
      <div class="featured-button-next swiper-button-next"><span class="flaticon-arrow-1"></span></div>
    </button>
  </div>

</div>
<!--

<a href="https://vistainmobiliaria.inmo.co/blog" target="_blank" class="btn-first btn-border ml-1">Blog</a>
<a href="https://vistainmobiliaria.inmo.co/main-contactenos.htm" target="_blank" class="btn-first btn-submit text-custom-white mr-1">Contáctenos</a>

-->
