<!-- Start Banner -->
<div class="simple-banner">
    <div class="main-banner swiper-container p-relative">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide-item">
                <img src="assets/images/vista/banner1.jpg" class="image-fit" alt="img">
                <div class="transform-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="content-wrapper text-center">
                                    <h1 class="text-custom-white">Trabaja Duro Sueña Grande</h1>
                                    <h2 class="text-custom-white"><span class="text-custom-blue">#somosagentesinmobiliarios</span></h2>
                                    <p class="text-custom-white mb-xl-40">Conócenos te invitamos a vivir una historia + un café</p>
                                    <a href="https://vistainmobiliaria.inmo.co/main-contactenos.htm" target="_blank" class="btn-first btn-submit text-custom-white mr-1">Contáctenos</a>
                                    <a href="https://vistainmobiliaria.inmo.co/blog" target="_blank" class="btn-first btn-border ml-1">Blog</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide slide-item">
                <img src="assets/images/vista/banner2.jpg" class="image-fit" alt="img">
                <div class="transform-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="content-wrapper text-center">
                                    <h1 class="text-custom-white">Nuestros Agentes</h1>
                                    <h2 class="text-custom-white"><span class="text-custom-blue">Siempre</span> Hacen la Diferencia </h2>
                                    <p class="text-custom-white mb-xl-40">Conócenos te invitamos a vivir una historia + un café</p>
                                    <a href="https://vistainmobiliaria.inmo.co/main-contactenos.htm" target="_blank" class="btn-first btn-submit text-custom-white mr-1">Contáctenos</a>
                                    <a href="https://vistainmobiliaria.inmo.co/blog" target="_blank" class="btn-first btn-border ml-1">Blog</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="slider-btn">
            <div class="main-button-next swiper-button-next">
                <span class="flaticon-arrow-1"></span>
            </div>
            <div class="main-button-prev swiper-button-prev">
                <span class="flaticon-left"></span>
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->