#youtube-background-video {
  pointer-events: none;
  z-index: -1;
}
@keyframes slideInFromRigth {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-from-right {
  animation-name: slideInFromRight;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.slide-in-from-right {
  animation: slideInFromRight 2s forwards;
  position: absolute;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

