<!-- Start Blog -->
<section class="section-padding bg-light-white our_articles">
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h5 class="text-custom-blue wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Nuestro Blog</h5>
                <h3 class="text-theme fw-700">Visita nuestro contenido de valor</h3>
            </div>
            <div class="section-description">
                <p class="text-light-white">En nuestro Blog encontrarás nuestro contenido destacado, con el fin de mantenerte informado y actualizado con las últimas novedades en el sector inmobiliario.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="swiper-container blog-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <!-- article -->
                            <article class="post">
                                <div class="post-wrapper">
                                    <div class="blog-img animate-img">
                                        <a href="https://vistainmobiliaria.inmo.co/blog/la-magia-del-orden/13291?page=1" target="_blank">
                                            <img src="assets/images/homepage-1/blogOrden.jpg" class="img-fluid full-width" alt="blog">
                                        </a>
                                    
                                        <!-- <div class="post-video">
                                            <div class="video-btn-wrapper">
                                                <a href="JavaScript:Void(0);" class="text-custom-blue"><i class="far fa-play-circle"></i>
                                              </a>
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="post-date">
                                        <a href="https://vistainmobiliaria.inmo.co/blog/la-magia-del-orden/13291?page=1" target="_blank">21 Oct 2020</a>
                                    </div>
                                    <div class="blog-meta bg-custom-white padding-20">
                                        <div class="cat-box">
                                            <div class="cats">
                                                <a href="https://vistainmobiliaria.inmo.co/blog/la-magia-del-orden/13291?page=1" target="_blank">Blog</a>
                                            </div>
                                        </div>
                                        <h2 class="post-title"><a href="https://vistainmobiliaria.inmo.co/blog/la-magia-del-orden/13291?page=1" target="_blank" class="text-theme">La magia del orden</a></h2>
                                        <p class="text-light-white no-margin">Buscamos tener un día de recomendados en muchos aspectos de la vida, tanto personal, como familiar; Compartiremos algunos tips, artículos o perfiles de personajes que nos pueden aportar en ese crecimiento.</p>
                                    </div>
                                    <div class="blog-footer-meta bg-custom-white padding-20">
                                        <div class="post-author">
                                            <div class="author-img">
                                                <a href="https://vistainmobiliaria.inmo.co/blog/la-magia-del-orden/13291?page=1" target="_blank">
                                                    <img src="assets/images/homepage-1/admin-1-40x40.jpg" class="rounded-circle" alt="#">
                                                </a>
                                            </div>
                                            <span class="text-theme fs-14">Por <a href="https://vistainmobiliaria.inmo.co/blog/la-magia-del-orden/13291?page=1" target="_blank" class="text-theme fw-500">Mercadeo</a></span>
                                        </div>
                                        <div class="post-link">
                                            <a href="https://vistainmobiliaria.inmo.co/blog/la-magia-del-orden/13291?page=1" target="_blank" class="link-btn text-custom-blue fw-600 fs-14">Leer Más</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!-- article -->
                        </div>
                        <div class="swiper-slide">
                            <!-- article -->
                            <article class="post">
                                <div class="post-wrapper">
                                    <div class="blog-img animate-img">
                                        <a href="https://vistainmobiliaria.inmo.co/blog/haz-un-detox-dentro-de-tu-hogar/14441?page=1" target="_blank">
                                            <img src="assets/images/homepage-1/blogDetox.jpg" class="img-fluid full-width" alt="blog">
                                        </a>
                                    </div>
                                    <div class="post-date">
                                        <a href="https://vistainmobiliaria.inmo.co/blog/haz-un-detox-dentro-de-tu-hogar/14441?page=1" target="_blank">25 Feb 2021</a>
                                    </div>
                                    <div class="blog-meta bg-custom-white padding-20">
                                        <div class="cat-box">
                                            <div class="cats">
                                                <a href="https://vistainmobiliaria.inmo.co/blog/haz-un-detox-dentro-de-tu-hogar/14441?page=1" target="_blank">Blog</a>                                                    
                                            </div>
                                        </div>
                                        <h2 class="post-title"><a href="https://vistainmobiliaria.inmo.co/blog/haz-un-detox-dentro-de-tu-hogar/14441?page=1" target="_blank" class="text-theme">Haz un DÉTOX dentro de tu hogar</a></h2>
                                        <p class="text-light-white no-margin">Tu hogar puede necesitar una pequeña desintoxicación de todo aquello que lo puede hacer sentir así.</p>
                                    </div>
                                    <div class="blog-footer-meta bg-custom-white padding-20">
                                        <div class="post-author">
                                            <div class="author-img">
                                                <a href="https://vistainmobiliaria.inmo.co/blog/haz-un-detox-dentro-de-tu-hogar/14441?page=1" target="_blank">
                                                    <img src="assets/images/homepage-1/admin-1-40x40.jpg" class="rounded-circle" alt="#">
                                                </a>
                                            </div>
                                            <span class="text-theme fs-14">Por <a href="https://vistainmobiliaria.inmo.co/blog/haz-un-detox-dentro-de-tu-hogar/14441?page=1" target="_blank" class="text-theme fw-500">Mercadeo</a></span>
                                        </div>
                                        <div class="post-link">
                                            <a href="https://vistainmobiliaria.inmo.co/blog/haz-un-detox-dentro-de-tu-hogar/14441?page=1" target="_blank" class="link-btn text-custom-blue fw-600 fs-14">Leer Más</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!-- article -->
                        </div>
                        <div class="swiper-slide">
                            <!-- article -->
                            <article class="post">
                                <div class="post-wrapper">
                                    <div class="blog-img animate-img">
                                        <a href="https://vistainmobiliaria.inmo.co/blog/conozca-todo-sobre-los-nuevos-subsidios-de-vivienda/13418?page=1" target="_blank">
                                            <img src="assets/images/homepage-1/blogSubsidio.jpg" class="img-fluid full-width" alt="blog">
                                        </a>
                                    </div>
                                    <div class="post-date">
                                        <a href="https://vistainmobiliaria.inmo.co/blog/conozca-todo-sobre-los-nuevos-subsidios-de-vivienda/13418?page=1" target="_blank">05 Nov 2020</a>
                                    </div>
                                    <div class="blog-meta bg-custom-white padding-20">
                                        <div class="cat-box">
                                            <div class="cats">
                                                <a href="https://vistainmobiliaria.inmo.co/blog/conozca-todo-sobre-los-nuevos-subsidios-de-vivienda/13418?page=1" target="_blank">Blog</a>                                                    
                                            </div>
                                        </div>
                                        <h2 class="post-title"><a href="https://vistainmobiliaria.inmo.co/blog/conozca-todo-sobre-los-nuevos-subsidios-de-vivienda/13418?page=1" target="_blank" class="text-theme">Conozca todo sobre los nuevos subsidios de vivienda</a></h2>
                                        <p class="text-light-white no-margin">Desliza y conoce un poco más sobre los subsidios del gobierno, o visita nuestra página web en la sección blog, encontrarás más información.</p>
                                    </div>
                                    <div class="blog-footer-meta bg-custom-white padding-20">
                                        <div class="post-author">
                                            <div class="author-img">
                                                <a href="https://vistainmobiliaria.inmo.co/blog/conozca-todo-sobre-los-nuevos-subsidios-de-vivienda/13418?page=1" target="_blank">
                                                    <img src="assets/images/homepage-1/admin-1-40x40.jpg" class="rounded-circle" alt="#">
                                                </a>
                                            </div>
                                            <span class="text-theme fs-14">Por <a href="https://vistainmobiliaria.inmo.co/blog/conozca-todo-sobre-los-nuevos-subsidios-de-vivienda/13418?page=1" target="_blank" class="text-theme fw-500">Mercadeo</a></span>
                                        </div>
                                        <div class="post-link">
                                            <a href="https://vistainmobiliaria.inmo.co/blog/conozca-todo-sobre-los-nuevos-subsidios-de-vivienda/13418?page=1" target="_blank" class="link-btn text-custom-blue fw-600 fs-14">Leer Más</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!-- article -->
                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="slider-btn">
                    <div class="blog-button-next swiper-button-next">
                        <span class="flaticon-arrow-1"></span>
                    </div>
                    <div class="blog-button-prev swiper-button-prev">
                        <span class="flaticon-left"></span>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="blog-pagination swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog -->